body
{
    background: black;
    background-color: black;
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.2);
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
}

main{
    padding-top: 1%;
    padding-bottom: 2%;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
}

li a
{
    display: flex;
    padding: 4px 8px;
    text-decoration: none;
}

    li a:hover 
    {
        background-color: black;
    }

li.games 
{
    color: gray;
}

@media (prefers-color-scheme: dark) {
    body 
    {
        background: black;
        color: white;
    }

    main 
    {
        background: black;
    }

    li a 
    {
        color: white;
    }

        li a:hover 
        {
            background-color: white;
            color: black;
        }

    div.JesusText {
        color: blue;
    }
}

@media (prefers-color-scheme: light) {
    body 
    {
        background: black;
        color: black;
    }

    main 
    {
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 92%, rgba(0,0,0,1) 100%);
    }

    li a 
    {
        color: black;
    }

        li a:hover
        {
            background-color: black;
            color: white;
        }
    div.JesusText {
        color: red;
    }
}

@media (pointer: fine) 
{
    li.games
    {
        color: white;
    }
}
