<div class="bSection">
<b><em>@Heading</em></b>
<br />
<p>
    @Text
</p>
</div>

@code {
    [Parameter]
    public string Heading { get; set; } = "Section Heading";

    [Parameter]
    public string Text { get; set; } = "Section Text";
}