ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
}

li a {
    display: flex;
    color: black;
    padding: 4px 8px;
    text-decoration: none;
}

    li a:hover {
        background-color: black;
        color: white;
    }