@page "/about"

<PageTitle>About</PageTitle>
<BibleBook Name="About"></BibleBook>
<section> <a href="https://github.com/SuperBrainBro/GospelNet"><BibleChapter Number="Visit my GitHub for source code."></BibleChapter></a>
<BibleSection Heading="What is this?" Text="
This website was created in order to help me learn ASP.NET + Blazor.
Its purpose is to provide a place for easy navigation and reading of the GOSPEL without any funny business.
No bloat, pure Bible.
The 'github-net.xyz' domain only costed me $1.18 from namecheap.com.
This website might low key be VJSDGames.com 2.0. (If you remember that)
"></BibleSection>
<BibleSection Heading="Cool Features:" Text="
No Bloat. Beutiful. Extremely Modular. Customizable. PWA (Downloadable Client). Games (On Desktop). Dark Mode!
"></BibleSection>
</section>
<BibleFooter Message="-Vincent Jenei 2021. Thanks to Github for allowing me to host this website!"></BibleFooter>
<BackButton></BackButton>