@page "/about"

<PageTitle>About</PageTitle>
<h1>About</h1>
<section> <h4><a href="https://github.com/SuperBrainBro/GospelNet">Visit my Github for more info.</a></h4>
<BibleSection Heading="What is this?" Text="
This website was created in order to help me learn ASP.NET + Blazor. Its purpose is to provide a place for easy navigation and reading of the GOSPEL without any funny business. No bloat, pure Bible. Only NIV translation, I'm not making a political statement about whats the most 'correct' bible translation. The 'github-net.xyz' domain only costed me $1.18 from namecheap.com. I could have gotten something from Freenom but I don't trust Freenom anymore.
"></BibleSection>
</section>
<footer><i>Thanks to Github for allowing me to host this website!</i></footer>
<BackButton></BackButton>