@page "/config"

<PageTitle>Config</PageTitle>
<BibleBook Name="Config"></BibleBook>
<section> <BibleChapter Number="This is the chapter element."></BibleChapter>
	<BibleSection Heading="This is the section header element." Text="
		This is the text inside each section. 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit. Bibendum neque egestas congue quisque egestas diam in arcu. Semper feugiat nibh sed pulvinar proin gravida hendrerit. Magna etiam tempor orci eu lobortis. Volutpat consequat mauris nunc congue. At volutpat diam ut venenatis tellus in metus. Malesuada bibendum arcu vitae elementum curabitur. Suspendisse ultrices gravida dictum fusce. Risus at ultrices mi tempus imperdiet nulla. Morbi tristique senectus et netus. Egestas egestas fringilla phasellus faucibus scelerisque eleifend. Vel facilisis volutpat est velit egestas dui. Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.
		Sed blandit libero volutpat sed cras ornare arcu dui. Condimentum mattis pellentesque id nibh tortor. Fringilla ut morbi tincidunt augue. Non consectetur a erat nam at lectus urna duis convallis. Aliquam faucibus purus in massa tempor nec feugiat nisl pretium. Platea dictumst quisque sagittis purus sit amet. Sit amet nisl suscipit adipiscing bibendum est. A arcu cursus vitae congue mauris. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Ipsum dolor sit amet consectetur adipiscing elit. Viverra tellus in hac habitasse platea dictumst. Consectetur adipiscing elit ut aliquam purus. Pretium quam vulputate dignissim suspendisse in. Viverra vitae congue eu consequat ac felis donec. A pellentesque sit amet porttitor. Felis donec et odio pellentesque diam volutpat. Nibh sit amet commodo nulla facilisi nullam vehicula ipsum a. Id ornare arcu odio ut sem nulla pharetra diam. Tellus cras adipiscing enim eu turpis.
	"></BibleSection>
	<BibleSection Heading="Change this up to fit your preferences." Text="
		Do whatever you want, you are in control. Vulputate mi sit amet mauris commodo. Ultricies integer quis auctor elit. Risus nec feugiat in fermentum. Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Sagittis orci a scelerisque purus. Consequat nisl vel pretium lectus. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Sed elementum tempus egestas sed sed. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Eget aliquet nibh praesent tristique magna sit amet purus. Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit. Et leo duis ut diam quam nulla. Ac felis donec et odio pellentesque. Malesuada nunc vel risus commodo. Nibh nisl condimentum id venenatis. Orci a scelerisque purus semper eget duis at tellus. Orci sagittis eu volutpat odio facilisis mauris sit.
	"></BibleSection>
</section>
<BackButton></BackButton>
<BibleFooter Message=""></BibleFooter>