@page "/config"

<PageTitle>Config</PageTitle>
<BibleBook></BibleBook>
<section> <BibleChapter></BibleChapter>
	<BibleSection></BibleSection>
	<BibleSection></BibleSection>
</section>
<BackButton></BackButton>
<BibleFooter></BibleFooter>