@inject IJSRuntime JsRuntime;
@page "/{Permission?}"

<PageTitle>Gospel Net</PageTitle>

<BibleBook Name="Gospel Net"></BibleBook>

<ul class="MainUl">
	<li class="matthewLi"><a href="matthew">Matthew</a></li>
	<li class="markLi"><a href="mark">Mark</a></li>
	<li class="lukeLi"><a href="luke">Luke</a></li>
	<li class="johnLi"><a href="john">John</a></li>
</ul>
<br />
@if (Permission == "admin")
{
	<ul class="OtherUl">
		<li class="gamesLi"><a href="games">Games</a></li>
		<li class="aboutLi"><a href="about">About</a></li>
	</ul>
}
<BibleFooter Message=""></BibleFooter>

@code {
	[Parameter]
	public string? Permission { get; set; } = "";
}