@page "/"

<PageTitle>Gospel Net</PageTitle>

<BibleBook  Name="Gospel Net"></BibleBook>

<ul class="Main">
  <li class="matthew"><a href="matthew">Matthew</a></li>
  <li class="mark"><a href="mark">Mark</a></li>
  <li class="luke"><a href="luke">Luke</a></li>
  <li class="john"><a href="john">John</a></li>
</ul>
<br />
<ul class="Other">
  <li class="games"><a href="games">Games</a></li>
  <li class="chat"><a href="chat">Chat</a></li>
  <li class="about"><a href="about">About</a></li>
</ul>

<BibleFooter Message=""></BibleFooter>