@page "/"

<PageTitle>Gospel Net</PageTitle>

<BibleBook Name="Gospel Net"></BibleBook>

<ul class="Main">
  <li><a href="matthew">Matthew</a></li>
  <li><a href="mark">Mark</a></li>
  <li><a href="luke">Luke</a></li>
  <li><a href="john">John</a></li>
</ul>
<br />
<ul class="Other">
  <li><a href="games">Games</a></li>
  <li><a href="about">About</a></li>
</ul>
