@page "/"

<PageTitle>Home</PageTitle>

<h1>Gospel Net</h1>

<ul>
  <li><a href="matthew">Matthew</a></li>
  <li><a href="mark">Mark</a></li>
  <li><a href="luke">Luke</a></li>
  <li><a href="john">John</a></li>
  <li><a href="about">About</a></li>
  <li><a href="config">Config</a></li>

</ul>