@page "/"

<PageTitle>Home</PageTitle>

<BibleBook Name="Gospel Net"></BibleBook>

<ul>
  <li><a href="matthew">Matthew</a></li>
  <li><a href="mark">Mark</a></li>
  <li><a href="luke">Luke</a></li>
  <li><a href="john">John</a></li>
  <li><a href="about">About</a></li>

</ul>
