@page "/matthew/{title?}"

<PageTitle>@Title</PageTitle>

<BibleBook Name=@Title></BibleBook>
<section>
	<BibleChapter Number="1"></BibleChapter>
	<BibleSection Heading="The Genealogy of Jesus the Messiah" Text="
		This is the genealogy of Jesus the Messiah the son of David, the son of Abraham:

		Abraham was the father of Isaac,

		Isaac the father of Jacob,

		Jacob the father of Judah and his brothers,

		Judah the father of Perez and Zerah, whose mother was Tamar,

		Perez the father of Hezron,

		Hezron the father of Ram,

		Ram the father of Amminadab,

		Amminadab the father of Nahshon,

		Nahshon the father of Salmon,

		Salmon the father of Boaz, whose mother was Rahab,

		Boaz the father of Obed, whose mother was Ruth,

		Obed the father of Jesse,

		and Jesse the father of King David.

		David was the father of Solomon, whose mother had been Uriah’s wife,

		Solomon the father of Rehoboam,

		Rehoboam the father of Abijah,

		Abijah the father of Asa,

		Asa the father of Jehoshaphat,

		Jehoshaphat the father of Jehoram,

		Jehoram the father of Uzziah,

		Uzziah the father of Jotham,

		Jotham the father of Ahaz,

		Ahaz the father of Hezekiah,

		Hezekiah the father of Manasseh,

		Manasseh the father of Amon,

		Amon the father of Josiah,

		and Josiah the father of Jeconiah and his brothers at the time of the exile to Babylon.

		After the exile to Babylon:

		Jeconiah was the father of Shealtiel,

		Shealtiel the father of Zerubbabel,

		Zerubbabel the father of Abihud,

		Abihud the father of Eliakim,

		Eliakim the father of Azor,

		Azor the father of Zadok,

		Zadok the father of Akim,

		Akim the father of Elihud,

		Elihud the father of Eleazar,

		Eleazar the father of Matthan,

		Matthan the father of Jacob,

		and Jacob the father of Joseph, the husband of Mary, and Mary was the mother of Jesus who is called the Messiah.

		Thus there were fourteen generations in all from Abraham to David, fourteen from David to the exile to Babylon, and fourteen from the exile to the Messiah.
	"></BibleSection>
	<BibleSection Heading="Joseph Accepts Jesus as His Son" Text="
		This is how the birth of Jesus the Messiah came about: His mother Mary was pledged to be married to Joseph, but before they came together, she was found to be pregnant through the Holy Spirit. Because Joseph her husband was faithful to the law, and yet did not want to expose her to public disgrace, he had in mind to divorce her quietly.

		But after he had considered this, an angel of the Lord appeared to him in a dream and said, “Joseph son of David, do not be afraid to take Mary home as your wife, because what is conceived in her is from the Holy Spirit. She will give birth to a son, and you are to give him the name Jesus, because he will save his people from their sins.”

		All this took place to fulfill what the Lord had said through the prophet: “The virgin will conceive and give birth to a son, and they will call him Immanuel” (which means “God with us”).

		When Joseph woke up, he did what the angel of the Lord had commanded him and took Mary home as his wife. But he did not consummate their marriage until she gave birth to a son. And he gave him the name Jesus.
	"></BibleSection>
</section>
<section>
	<BibleChapter Number="2"></BibleChapter>
	<BibleSection Heading="The Magi Visit the Messiah" Text="
		After Jesus was born in Bethlehem in Judea, during the time of King Herod, Magi from the east came to Jerusalem and asked, “Where is the one who has been born king of the Jews? We saw his star when it rose and have come to worship him.”

		When King Herod heard this he was disturbed, and all Jerusalem with him. When he had called together all the people’s chief priests and teachers of the law, he asked them where the Messiah was to be born. “In Bethlehem in Judea,” they replied, “for this is what the prophet has written:

		“‘But you, Bethlehem, in the land of Judah,
			are by no means least among the rulers of Judah;
		for out of you will come a ruler
			who will shepherd my people Israel.’”

		Then Herod called the Magi secretly and found out from them the exact time the star had appeared. He sent them to Bethlehem and said, “Go and search carefully for the child. As soon as you find him, report to me, so that I too may go and worship him.”

		After they had heard the king, they went on their way, and the star they had seen when it rose went ahead of them until it stopped over the place where the child was. When they saw the star, they were overjoyed. On coming to the house, they saw the child with his mother Mary, and they bowed down and worshiped him. Then they opened their treasures and presented him with gifts of gold, frankincense and myrrh. And having been warned in a dream not to go back to Herod, they returned to their country by another route.
		"></BibleSection>
	<BibleSection Heading="The Escape to Egypt" Text="
		When they had gone, an angel of the Lord appeared to Joseph in a dream. “Get up,” he said, “take the child and his mother and escape to Egypt. Stay there until I tell you, for Herod is going to search for the child to kill him.”

		So he got up, took the child and his mother during the night and left for Egypt, where he stayed until the death of Herod. And so was fulfilled what the Lord had said through the prophet: “Out of Egypt I called my son.”

		When Herod realized that he had been outwitted by the Magi, he was furious, and he gave orders to kill all the boys in Bethlehem and its vicinity who were two years old and under, in accordance with the time he had learned from the Magi. Then what was said through the prophet Jeremiah was fulfilled:

		“A voice is heard in Ramah,
			weeping and great mourning,
		Rachel weeping for her children
			and refusing to be comforted,
			because they are no more.”
		"></BibleSection>
	<BibleSection Heading="The Return to Nazareth" Text="
		After Herod died, an angel of the Lord appeared in a dream to Joseph in Egypt and said, “Get up, take the child and his mother and go to the land of Israel, for those who were trying to take the child’s life are dead.”

		So he got up, took the child and his mother and went to the land of Israel. But when he heard that Archelaus was reigning in Judea in place of his father Herod, he was afraid to go there. Having been warned in a dream, he withdrew to the district of Galilee, and he went and lived in a town called Nazareth. So was fulfilled what was said through the prophets, that he would be called a Nazarene.
		"></BibleSection>
</section>
<section>
	<BibleChapter Number="3"></BibleChapter>
	<BibleSection Heading="John the Baptist Prepares the Way" Text="
		In those days John the Baptist came, preaching in the wilderness of Judea and saying, “Repent, for the kingdom of heaven has come near.” This is he who was spoken of through the prophet Isaiah:

		“A voice of one calling in the wilderness,
		‘Prepare the way for the Lord,
			make straight paths for him.’”

		John’s clothes were made of camel’s hair, and he had a leather belt around his waist. His food was locusts and wild honey. People went out to him from Jerusalem and all Judea and the whole region of the Jordan. Confessing their sins, they were baptized by him in the Jordan River.

		But when he saw many of the Pharisees and Sadducees coming to where he was baptizing, he said to them: “You brood of vipers! Who warned you to flee from the coming wrath? Produce fruit in keeping with repentance. And do not think you can say to yourselves, ‘We have Abraham as our father.’ I tell you that out of these stones God can raise up children for Abraham. The ax is already at the root of the trees, and every tree that does not produce good fruit will be cut down and thrown into the fire.

“I baptize you with water for repentance. But after me comes one who is more powerful than I, whose sandals I am not worthy to carry. He will baptize you with the Holy Spirit and fire. His winnowing fork is in his hand, and he will clear his threshing floor, gathering his wheat into the barn and burning up the chaff with unquenchable fire.”
"></BibleSection>
	<BibleSection Heading="The Baptism of Jesus" Text="
	Then Jesus came from Galilee to the Jordan to be baptized by John. But John tried to deter him, saying, “I need to be baptized by you, and do you come to me?”

	Jesus replied, “Let it be so now; it is proper for us to do this to fulfill all righteousness.” Then John consented.

	As soon as Jesus was baptized, he went up out of the water. At that moment heaven was opened, and he saw the Spirit of God descending like a dove and alighting on him. And a voice from heaven said, “This is my Son, whom I love; with him I am well pleased.”
"></BibleSection>
</section>
<section>
	<BibleChapter Number="4"></BibleChapter>
	<BibleSection Heading="Jesus Is Tested in the Wilderness" Text="
	Then Jesus was led by the Spirit into the wilderness to be tempted by the devil. After fasting forty days and forty nights, he was hungry. The tempter came to him and said, “If you are the Son of God, tell these stones to become bread.”

	Jesus answered, “It is written: ‘Man shall not live on bread alone, but on every word that comes from the mouth of God.’”

	Then the devil took him to the holy city and had him stand on the highest point of the temple. “If you are the Son of God,” he said, “throw yourself down. For it is written:

	“‘He will command his angels concerning you,
		and they will lift you up in their hands,
		so that you will not strike your foot against a stone.’”

	Jesus answered him, “It is also written: ‘Do not put the Lord your God to the test.’”

	Again, the devil took him to a very high mountain and showed him all the kingdoms of the world and their splendor. “All this I will give you,” he said, “if you will bow down and worship me.”

	Jesus said to him, “Away from me, Satan! For it is written: ‘Worship the Lord your God, and serve him only.’”

	Then the devil left him, and angels came and attended him.
"></BibleSection>
	<BibleSection Heading="Jesus Begins to Preach" Text="
	When Jesus heard that John had been put in prison, he withdrew to Galilee. Leaving Nazareth, he went and lived in Capernaum, which was by the lake in the area of Zebulun and Naphtali— to fulfill what was said through the prophet Isaiah:

	“Land of Zebulun and land of Naphtali,
		the Way of the Sea, beyond the Jordan,
		Galilee of the Gentiles—
	the people living in darkness
		have seen a great light;
	on those living in the land of the shadow of death
		a light has dawned.”

	From that time on Jesus began to preach, “Repent, for the kingdom of heaven has come near.”
"></BibleSection>
	<BibleSection Heading="Jesus Calls His First Disciples" Text="
	As Jesus was walking beside the Sea of Galilee, he saw two brothers, Simon called Peter and his brother Andrew. They were casting a net into the lake, for they were fishermen. “Come, follow me,” Jesus said, “and I will send you out to fish for people.” At once they left their nets and followed him.

	Going on from there, he saw two other brothers, James son of Zebedee and his brother John. They were in a boat with their father Zebedee, preparing their nets. Jesus called them, and immediately they left the boat and their father and followed him.
"></BibleSection>
	<BibleSection Heading="Jesus Heals the Sick" Text="
	Jesus went throughout Galilee, teaching in their synagogues, proclaiming the good news of the kingdom, and healing every disease and sickness among the people. News about him spread all over Syria, and people brought to him all who were ill with various diseases, those suffering severe pain, the demon-possessed, those having seizures, and the paralyzed; and he healed them. Large crowds from Galilee, the Decapolis, Jerusalem, Judea and the region across the Jordan followed him.
"></BibleSection>
</section>
<section>
	<BibleChapter Number="5"></BibleChapter>
	<BibleSection Heading="Sermon on the Mount:" Text="
	Now when Jesus saw the crowds, he went up on a mountainside and sat down. His disciples came to him, and he began to teach them.
"></BibleSection>
	<BibleSection Heading="The Beatitudes" Text="
	He said:

	“Blessed are the poor in spirit,
		for theirs is the kingdom of heaven.
	Blessed are those who mourn,
		for they will be comforted.
	Blessed are the meek,
		for they will inherit the earth.
	Blessed are those who hunger and thirst for righteousness,
		for they will be filled.
	Blessed are the merciful,
		for they will be shown mercy.
	Blessed are the pure in heart,
		for they will see God.
	Blessed are the peacemakers,
		for they will be called children of God.
	Blessed are those who are persecuted because of righteousness,
		for theirs is the kingdom of heaven.

	“Blessed are you when people insult you, persecute you and falsely say all kinds of evil against you because of me. Rejoice and be glad, because great is your reward in heaven, for in the same way they persecuted the prophets who were before you.
" Jesus=true></BibleSection>
	<BibleSection Heading="Salt and Light" Text="
	“You are the salt of the earth. But if the salt loses its saltiness, how can it be made salty again? It is no longer good for anything, except to be thrown out and trampled underfoot.

	“You are the light of the world. A town built on a hill cannot be hidden. Neither do people light a lamp and put it under a bowl. Instead they put it on its stand, and it gives light to everyone in the house. In the same way, let your light shine before others, that they may see your good deeds and glorify your Father in heaven.
" Jesus=true></BibleSection>
	<BibleSection Heading="The Fulfillment of the Law" Text="
	“Do not think that I have come to abolish the Law or the Prophets; I have not come to abolish them but to fulfill them. For truly I tell you, until heaven and earth disappear, not the smallest letter, not the least stroke of a pen, will by any means disappear from the Law until everything is accomplished. Therefore anyone who sets aside one of the least of these commands and teaches others accordingly will be called least in the kingdom of heaven, but whoever practices and teaches these commands will be called great in the kingdom of heaven. For I tell you that unless your righteousness surpasses that of the Pharisees and the teachers of the law, you will certainly not enter the kingdom of heaven.
" Jesus=true></BibleSection>
	<BibleSection Heading="Murder" Text="
	“You have heard that it was said to the people long ago, ‘You shall not murder, and anyone who murders will be subject to judgment.’ But I tell you that anyone who is angry with a brother or sister will be subject to judgment. Again, anyone who says to a brother or sister, ‘Raca,’ is answerable to the court. And anyone who says, ‘You fool!’ will be in danger of the fire of hell.

	“Therefore, if you are offering your gift at the altar and there remember that your brother or sister has something against you, leave your gift there in front of the altar. First go and be reconciled to them; then come and offer your gift.

	“Settle matters quickly with your adversary who is taking you to court. Do it while you are still together on the way, or your adversary may hand you over to the judge, and the judge may hand you over to the officer, and you may be thrown into prison. Truly I tell you, you will not get out until you have paid the last penny.
" Jesus=true></BibleSection>
	<BibleSection Heading="Adultery" Text="
	“You have heard that it was said, ‘You shall not commit adultery.’ But I tell you that anyone who looks at a woman lustfully has already committed adultery with her in his heart. If your right eye causes you to stumble, gouge it out and throw it away. It is better for you to lose one part of your body than for your whole body to be thrown into hell. And if your right hand causes you to stumble, cut it off and throw it away. It is better for you to lose one part of your body than for your whole body to go into hell.
" Jesus=true></BibleSection>
	<BibleSection Heading="Divorce" Text="
	“It has been said, ‘Anyone who divorces his wife must give her a certificate of divorce.’ But I tell you that anyone who divorces his wife, except for sexual immorality, makes her the victim of adultery, and anyone who marries a divorced woman commits adultery.
" Jesus=true></BibleSection>
	<BibleSection Heading="Oaths" Text="
	“Again, you have heard that it was said to the people long ago, ‘Do not break your oath, but fulfill to the Lord the vows you have made.’ But I tell you, do not swear an oath at all: either by heaven, for it is God’s throne; or by the earth, for it is his footstool; or by Jerusalem, for it is the city of the Great King. And do not swear by your head, for you cannot make even one hair white or black. All you need to say is simply ‘Yes’ or ‘No’; anything beyond this comes from the evil one.
" Jesus=true></BibleSection>
	<BibleSection Heading="Eye for Eye" Text="
	“You have heard that it was said, ‘Eye for eye, and tooth for tooth.’ But I tell you, do not resist an evil person. If anyone slaps you on the right cheek, turn to them the other cheek also. And if anyone wants to sue you and take your shirt, hand over your coat as well. If anyone forces you to go one mile, go with them two miles. Give to the one who asks you, and do not turn away from the one who wants to borrow from you.
" Jesus=true></BibleSection>
	<BibleSection Heading="Love for Enemies" Text="
	“You have heard that it was said, ‘Love your neighbor and hate your enemy.’ But I tell you, love your enemies and pray for those who persecute you, that you may be children of your Father in heaven. He causes his sun to rise on the evil and the good, and sends rain on the righteous and the unrighteous. If you love those who love you, what reward will you get? Are not even the tax collectors doing that? And if you greet only your own people, what are you doing more than others? Do not even pagans do that? Be perfect, therefore, as your heavenly Father is perfect.
" Jesus=true></BibleSection>
</section>
<BackButton></BackButton>
<BibleFooter Message=""></BibleFooter>

@code {
	[Parameter]
	public string? Title { get; set; }

	protected override void OnInitialized()
	{
		Title = TitleCaseString(Title);
		if (Title == "Nvm")
		{
			Title = "You can't change your mind.";
		}
		else
		if (Title == "Nigger" || Title == "Fuck" || Title == "Bitch")
		{
			Title = "Comon man, you can't talk like that!";
		}
		else
		{
			Title = Title ?? "Matthew";
		}
	}

	public static String TitleCaseString(String s)
	{
		if (s == null) return s;

		String[] words = s.Split(' ');
		for (int i = 0; i < words.Length; i++)
		{
			if (words[i].Length == 0) continue;

			Char firstChar = Char.ToUpper(words[i][0]);
			String rest = "";
			if (words[i].Length > 1)
			{
				rest = words[i].Substring(1).ToLower();
			}
			words[i] = firstChar + rest;
		}
		return String.Join(" ", words);
	}
}