html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: large;
    background: black;
}

main {
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: .5%;
    padding-right: .5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: transparent;
}

li a {
    display: flex;
    padding: 4px 8px;
    text-decoration: none;
}

h1 {
    font-size: xx-large;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h2 {
    font-size: x-large;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

h3 {
    font-size: larger;
    margin-block-start: .1em;
    margin-block-end: .1em;
}

section.Chapter {
    padding-top: 1.2em;
}

section.Part {
    padding-bottom: .8em;
}

section.BibleSection {
    padding-top: .5em;
    padding-bottom: .5em;
}

section.JesusSection {
    padding-top: .25em;
    padding-bottom: .25em;
}

p {
    display: block;
    margin-block-start: .420em;
    margin-block-end: .420em;
}

footer.small {
    font-size: small;
}

footer.medium {
    font-size: medium;
}

footer.large {
    font-size: large;
}

footer.left {
    text-align: left;
}

div.bibleBreak {
    block-size: 1em;
    display: block;
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        text-shadow: 1px 2px 1px rgba(255,255,255,0.25);
    }

    main {
        background: black;
    }

    li a {
        color: white;
    }

        li a:hover {
            background-color: white;
            color: black;
        }

    li.revelations {
        color: deeppink;
    }

    div.JesusText {
        color: royalblue;
        text-shadow: 1px 2px 1px rgba(0,34,102,0.5);
    }

    h1 {
        color: rgba(255,255,255,0.75);
        text-shadow: 1px 2px 1px rgba(255,255,255,0.08);
    }

    h2 {
        color: rgba(255,255,255,0.5);
        text-shadow: 1px 2px 1px rgba(255,255,255,0.06);
    }

    h3 {
        color: rgba(255,255,255,0.25);
        text-shadow: 1px 2px 1px rgba(255,255,255,0.03);
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        text-shadow: 1px 2px 1px rgba(0,0,0,0.25);
    }

    main {
        background: white;
    }

    li a {
        color: black;
    }

        li a:hover {
            background-color: black;
            color: white;
        }

    li.revelations {
        color: darkmagenta;
    }

    div.JesusText {
        color: red;
        text-shadow: 1px 2px 1px rgba(0,0,0,0.1);
    }

    h1 {
        color: rgba(0, 0, 0, 0.75);
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.08);
    }

    h2 {
        color: rgba(0, 0, 0, 0.5);
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.06);
    }

    h3 {
        color: rgba(0, 0, 0, 0.25);
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.03);
    }
}
