@page "/games"

<PageTitle>Gospel Net Games</PageTitle>

<BibleBook Name="Gospel Net Games"></BibleBook>

<ul>
  <li><a href="games/shift-shield">Shift Shield</a></li>
</ul>

<BackButton></BackButton>
<BibleFooter Message="These games are not supported on mobile."></BibleFooter>
