@page "/{Permission?}"

<PageTitle>Gospel Net</PageTitle>

<BibleBook Name="Gospel Net"></BibleBook>

<nav class="Main">
	<ul class="GospelUl">
		<li class="matthewLi"><a href="matthew">Matthew</a></li>
		<li class="markLi"><a href="mark">Mark</a></li>
		<li class="lukeLi"><a href="luke">Luke</a></li>
		<li class="johnLi"><a href="john">John</a></li>
	</ul>
</nav>

@if (Permission == "more" || Permission == "admin" || Permission == "max")
{
	<nav class="More">
		<br />
		<ul class="RevelationUI">
			<li class="revelationsLi"><a href="revelations">Revelations</a></li>
		</ul>
	</nav>
}
@if (Permission == "old" || Permission == "admin" || Permission == "max")
{
	<nav class="Old">
		<br />
		<ul class="MosesUI">
			<li class="genesisLi"><a href="genesis">Genesis</a></li>
			<li class="exodusLi"><a href="exodus">Exodus</a></li>
			<li class="leviticusLi"><a href="leviticus">Leviticus</a></li>
			<li class="numbersLi"><a href="numbers">Numbers</a></li>
			<li class="deuteronomyLi"><a href="deuteronomy">Deuteronomy</a></li>
		</ul>
	</nav>
}
@if (Permission == "new" || Permission == "admin" || Permission == "max")
{
	<nav class="New">
		<br />
		<ul class="LettersUI">
			<li class="actsLi"><a href="acts">Acts</a></li>
		</ul>
	</nav>
}
@if (Permission == "apocrypha" || Permission == "admin")
{
	<nav class="Apocrypha">
		<br />
		<ul class="ApocryphaUl">
			<li class="apocryphaLi"><a href="apoc">Apochrypha placeholder</a></li>
		</ul>
	</nav>
}
@if (Permission == "admin")
{
	<nav class="Admin">
		<br />
		<ul class="OtherUl">
			<li class="aboutLi"><a href="about">About</a></li>
		</ul>
	</nav>
}

@code {
	[Parameter]
	public string? Permission { get; set; } = "";
}