<section class=@sectionId>
	@if (Heading != null)
	{
		<aside><h3><i>@Heading</i></h3></aside>
	}
	<p class=@textId>
		@Text
	</p>
</section>

@code {
	[Parameter]
	public string? Heading { get; set; }

	[Parameter]
	public string Text { get; set; } = "Section Text";

	[Parameter]
	public string sectionId { get; set; } = "BibleSection";

	[Parameter]
	public string textId { get; set; } = "RegularText";
}