<section class=@sectionId>
	<div class="bSection">
		@if (Heading != null)
		{
					<h3><i>@Heading</i></h3>
		}
		<div class=JesusText>
			<p>
				@Text
			</p>
		</div>
	</div>
</section>

@code {
	[Parameter]
	public string? Heading { get; set; }

	[Parameter]
	public string Text { get; set; } = "Jesus Text";

	[Parameter]
	public string sectionId { get; set; } = "Jesus Section";
}