<section class=@sectionId>
	@if (Heading != null)
	{
		<aside><h3><i>@Heading</i></h3></aside>
	}
	<p class=JesusText>
		@Text
	</p>
</section>

@code {
	[Parameter]
	public string? Heading { get; set; }

	[Parameter]
	public string Text { get; set; } = "Jesus Text";

	[Parameter]
	public string sectionId { get; set; } = "Jesus Section";
}