<section class=@SectionId>
	@if (Heading != null)
	{
		<aside class="JesusSectionHeading"><h3><i>@Heading</i></h3></aside>
	}
	<div class=JesusText>
		<p><MultilineString Value=@Text /></p>
	</div>
</section>

@code {
	[Parameter]
	public string? Heading { get; set; }

	[Parameter]
	public string Text { get; set; } = "Jesus Text";

	[Parameter]
	public string SectionId { get; set; } = "JesusSection";
}