@page "/john"

<PageTitle>John</PageTitle>

<article class="John">

	<BibleBook Name=John />

	<section class="Chapter 1">
		<BibleChapter Number="Chapter 1" />

	</section>



	<section class="Chapter 2">
		<BibleChapter Number="Chapter 2" />
	</section>



	<section class="Chapter 3">
		<BibleChapter Number="Chapter 3" />
	</section>



	<section class="Chapter 4">
		<BibleChapter Number="Chapter 4" />
	</section>



	<section class="Chapter 5">
		<BibleChapter Number="Chapter 5" />
	</section>



	<section class="Chapter 6">
		<BibleChapter Number="Chapter 6" />
	</section>



	<section class="Chapter 7">
		<BibleChapter Number="Chapter 7" />
	</section>



	<section class="Chapter 8">
		<BibleChapter Number="Chapter 8" />
	</section>



	<section class="Chapter 9">
		<BibleChapter Number="Chapter 9" />
	</section>



	<section class="Chapter 10">
		<BibleChapter Number="Chapter 10" />
	</section>



	<section class="Chapter 11">
		<BibleChapter Number="Chapter 11" />
	</section>



	<section class="Chapter 12">
		<BibleChapter Number="Chapter 12" />
	</section>



	<section class="Chapter 13">
		<BibleChapter Number="Chapter 13" />
	</section>



	<section class="Chapter 14">
		<BibleChapter Number="Chapter 14" />
	</section>



	<section class="Chapter 15">
		<BibleChapter Number="Chapter 14" />
	</section>



	<section class="Chapter 16">
		<BibleChapter Number="Chapter 14" />
	</section>
</article>

<BackButton></BackButton>
<BibleFooter Message="NLT."></BibleFooter>