@page "/mark"

<PageTitle>Mark</PageTitle>

<article class="Matthew">

	<BibleBook Name="Mark" />

	<section class="Chapter 1">
		<BibleChapter Number="Chapter 1" />

		<section class="Part 1.1">
			<BibleSection Heading="John the Baptist Prepares the Way"
						  Text="This is the Good News about Jesus the Messiah, the Son of God. It began just as the prophet Isaiah had written:

								“Look, I am sending my messenger ahead of you,
									and he will prepare your way.
								He is a voice shouting in the wilderness,
								‘Prepare the way for the Lord’s coming!
									Clear the road for him!’”

								This messenger was John the Baptist. He was in the wilderness and preached that people should be baptized to show that they had repented of their sins and turned to God to be forgiven. All of Judea, including all the people of Jerusalem, went out to see and hear John. And when they confessed their sins, he baptized them in the Jordan River. His clothes were woven from coarse camel hair, and he wore a leather belt around his waist. For food he ate locusts and wild honey.
								John announced: “Someone is coming soon who is greater than I am - so much greater that I’m not even worthy to stoop down like a slave and untie the straps of his sandals. I baptize you with water, but he will baptize you with the Holy Spirit!”" />
		</section>

		<section class="Part 1.2">
			<BibleSection Heading="The Baptism and Temptation of Jesus"
						  Text="One day Jesus came from Nazareth in Galilee, and John baptized him in the Jordan River. As Jesus came up out of the water, he saw the heavens splitting apart and the Holy Spirit descending on him like a dove. And a voice from heaven said, “You are my dearly loved Son, and you bring me great joy.”
								The Spirit then compelled Jesus to go into the wilderness, where he was tempted by Satan for forty days. He was out among the wild animals, and angels took care of him.
								Later on, after John was arrested, Jesus went into Galilee, where he preached God’s Good News." />

			<JesusSection Text="The time promised by God has come at last! The Kingdom of God is near! Repent of your sins and believe the Good News!" />
		</section>

		<section class="Part 1.3">
			<BibleSection Heading="The First Disciples"
						  Text="One day as Jesus was walking along the shore of the Sea of Galilee, he saw Simon and his brother Andrew throwing a net into the water, for they fished for a living. Jesus called out to them," />

			<JesusSection Text="Come, follow me, and I will show you how to fish for people!" />

			<BibleSection Text="And they left their nets at once and followed him.
								A little farther up the shore Jesus saw Zebedee’s sons, James and John, in a boat repairing their nets. He called them at once, and they also followed him, leaving their father, Zebedee, in the boat with the hired men." />
		</section>

		<section class="Part 1.4">
			<BibleSection Heading="Jesus Casts Out an Evil Spirit"
						  Text="Jesus and his companions went to the town of Capernaum. When the Sabbath day came, he went into the synagogue and began to teach. The people were amazed at his teaching, for he taught with real authority - quite unlike the teachers of religious law.
								Suddenly, a man in the synagogue who was possessed by an evil spirit cried out, “Why are you interfering with us, Jesus of Nazareth? Have you come to destroy us? I know who you are - the Holy One of God!”
								But Jesus reprimanded him." />

			<JesusSection Text="Be quiet! Come out of the man." />

			<BibleSection Text="At that, the evil spirit screamed, threw the man into a convulsion, and then came out of him.
								Amazement gripped the audience, and they began to discuss what had happened. “What sort of new teaching is this?” they asked excitedly. “It has such authority! Even evil spirits obey his orders!” The news about Jesus spread quickly throughout the entire region of Galilee." />
		</section>

		<section class="Part 1.5">
			<BibleSection Heading="Jesus Heals Many People"
						  Text="After Jesus left the synagogue with James and John, they went to Simon and Andrew’s home. Now Simon’s mother-in-law was sick in bed with a high fever. They told Jesus about her right away. So he went to her bedside, took her by the hand, and helped her sit up. Then the fever left her, and she prepared a meal for them.
								That evening after sunset, many sick and demon-possessed people were brought to Jesus. The whole town gathered at the door to watch. So Jesus healed many people who were sick with various diseases, and he cast out many demons. But because the demons knew who he was, he did not allow them to speak." />
		</section>

		<section class="Part 1.6">
			<BibleSection Heading="Jesus Preaches in Galilee"
						  Text="Before daybreak the next morning, Jesus got up and went out to an isolated place to pray. Later Simon and the others went out to find him. When they found him, they said, “Everyone is looking for you.”
								But Jesus replied," />

			<JesusSection Text="We must go on to other towns as well, and I will preach to them, too. That is why I came." />

			<BibleSection Text="So he traveled throughout the region of Galilee, preaching in the synagogues and casting out demons." />
		</section>

		<section class="Part 1.7">
			<BibleSection Heading="Jesus Heals a Man with Leprosy"
						  Text="A man with leprosy came and knelt in front of Jesus, begging to be healed. “If you are willing, you can heal me and make me clean,” he said.
								Moved with compassion, Jesus reached out and touched him." />

			<JesusSection Text="I am willing. Be healed!" />

			<BibleSection Text="Instantly the leprosy disappeared, and the man was healed. Then Jesus sent him on his way with a stern warning:	" />

			<JesusSection Text="Don’t tell anyone about this. Instead, go to the priest and let him examine you. Take along the offering required in the law of Moses for those who have been healed of leprosy. This will be a public testimony that you have been cleansed." />

			<BibleSection Text="But the man went and spread the word, proclaiming to everyone what had happened. As a result, large crowds soon surrounded Jesus, and he couldn’t publicly enter a town anywhere. He had to stay out in the secluded places, but people from everywhere kept coming to him." />
		</section>
	</section>



	<section class="Chapter 2">
		<BibleChapter Number="Chapter 2" />

		<section class="Part 2.1">
			<BibleSection Heading="Jesus Heals a Paralyzed Man"
						  Text="When Jesus returned to Capernaum several days later, the news spread quickly that he was back home. Soon the house where he was staying was so packed with visitors that there was no more room, even outside the door. While he was preaching God’s word to them, four men arrived carrying a paralyzed man on a mat. They couldn’t bring him to Jesus because of the crowd, so they dug a hole through the roof above his head. Then they lowered the man on his mat, right down in front of Jesus. Seeing their faith, Jesus said to the paralyzed man, " />

			<JesusSection Text="My child, your sins are forgiven." />

			<BibleSection Text="But some of the teachers of religious law who were sitting there thought to themselves, “What is he saying? This is blasphemy! Only God can forgive sins!”
								Jesus knew immediately what they were thinking, so he asked them," />

			<JesusSection Text="Why do you question this in your hearts? Is it easier to say to the paralyzed man ‘Your sins are forgiven,’ or ‘Stand up, pick up your mat, and walk’? So I will prove to you that the Son of Man has the authority on earth to forgive sins." />

			<BibleSection Text="Then Jesus turned to the paralyzed man and said," />

			<JesusSection Text="Stand up, pick up your mat, and go home!" />

			<BibleSection Text="And the man jumped up, grabbed his mat, and walked out through the stunned onlookers. They were all amazed and praised God, exclaiming, “We’ve never seen anything like this before!”" />
		</section>

		<section class="Part 2.2">
			<BibleSection Heading="Jesus Calls Levi (Matthew)"
						  Text="Then Jesus went out to the lakeshore again and taught the crowds that were coming to him. As he walked along, he saw Levi son of Alphaeus sitting at his tax collector’s booth." />

			<JesusSection Text="Follow me and be my disciple," />

			<BibleSection Text="Jesus said to him. So Levi got up and followed him.
								Later, Levi invited Jesus and his disciples to his home as dinner guests, along with many tax collectors and other disreputable sinners. (There were many people of this kind among Jesus’ followers.) But when the teachers of religious law who were Pharisees saw him eating with tax collectors and other sinners, they asked his disciples, “Why does he eat with such scum?”
								When Jesus heard this, he told them," />

			<JesusSection Text="Healthy people don’t need a doctor, sick people do. I have come to call not those who think they are righteous, but those who know they are sinners." />
		</section>

		<section class="Part 2.3">
			<BibleSection Heading="A Discussion about Fasting"
						  Text="Once when John’s disciples and the Pharisees were fasting, some people came to Jesus and asked, “Why don’t your disciples fast like John’s disciples and the Pharisees do?”
								Jesus replied," />

			<JesusSection Text="Do wedding guests fast while celebrating with the groom? Of course not. They can’t fast while the groom is with them. But someday the groom will be taken away from them, and then they will fast.
								Besides, who would patch old clothing with new cloth? For the new patch would shrink and rip away from the old cloth, leaving an even bigger tear than before.
								And no one puts new wine into old wineskins. For the wine would burst the wineskins, and the wine and the skins would both be lost. New wine calls for new wineskins." />
		</section>

		<section class="Part 2.4">
			<BibleSection Heading="A Discussion about the Sabbath"
						  Text="One Sabbath day as Jesus was walking through some grainfields, his disciples began breaking off heads of grain to eat. But the Pharisees said to Jesus, “Look, why are they breaking the law by harvesting grain on the Sabbath?”
								Jesus said to them," />

			<JesusSection Text="Haven’t you ever read in the Scriptures what David did when he and his companions were hungry? He went into the house of God (during the days when Abiathar was high priest) and broke the law by eating the sacred loaves of bread that only the priests are allowed to eat. He also gave some to his companions.
								The Sabbath was made to meet the needs of people, and not people to meet the requirements of the Sabbath. So the Son of Man is Lord, even over the Sabbath!" />
		</section>
	</section>



	<section class="Chapter 3">
		<BibleChapter Number="Chapter 3" />

		<section class="Part 3.1">
			<BibleSection Heading="Jesus Heals on the Sabbath"
						  Text="Jesus went into the synagogue again and noticed a man with a deformed hand. Since it was the Sabbath, Jesus’ enemies watched him closely. If he healed the man’s hand, they planned to accuse him of working on the Sabbath.
								Jesus said to the man with the deformed hand," />

			<JesusSection Text="Come and stand in front of everyone." />

			<BibleSection Text="Then he turned to his critics and asked," />

			<JesusSection Text="Does the law permit good deeds on the Sabbath, or is it a day for doing evil? Is this a day to save life or to destroy it?" />

			<BibleSection Text="But they wouldn’t answer him.
								He looked around at them angrily and was deeply saddened by their hard hearts. Then he said to the man," />

			<JesusSection Text="Hold out your hand." />

			<BibleSection Text="So the man held out his hand, and it was restored! At once the Pharisees went away and met with the supporters of Herod to plot how to kill Jesus." />
		</section>

		<section class="Part 3.2">
			<BibleSection Heading="Crowds Follow Jesus"
						  Text="Jesus went out to the lake with his disciples, and a large crowd followed him. They came from all over Galilee, Judea, Jerusalem, Idumea, from east of the Jordan River, and even from as far north as Tyre and Sidon. The news about his miracles had spread far and wide, and vast numbers of people came to see him.
								Jesus instructed his disciples to have a boat ready so the crowd would not crush him. He had healed many people that day, so all the sick people eagerly pushed forward to touch him. And whenever those possessed by evil spirits caught sight of him, the spirits would throw them to the ground in front of him shrieking, “You are the Son of God!” But Jesus sternly commanded the spirits not to reveal who he was." />
		</section>

		<section class="Part 3.3">
			<BibleSection Heading="Jesus Chooses the Twelve Apostles"
						  Text="Afterward Jesus went up on a mountain and called out the ones he wanted to go with him. And they came to him. Then he appointed twelve of them and called them his apostles. They were to accompany him, and he would send them out to preach, giving them authority to cast out demons. These are the twelve he chose:

								Simon (whom he named Peter),
								James and John (the sons of Zebedee, but Jesus nicknamed them “Sons of Thunder”),
								Andrew,
								Philip,
								Bartholomew,
								Matthew,
								Thomas,
								James (son of Alphaeus),
								Thaddaeus,
								Simon (the zealot),
								Judas Iscariot (who later betrayed him)." />
		</section>

		<section class="Part 3.4">
			<BibleSection Heading="Jesus and the Prince of Demons"
						  Text="One time Jesus entered a house, and the crowds began to gather again. Soon he and his disciples couldn’t even find time to eat. When his family heard what was happening, they tried to take him away. “He’s out of his mind,” they said.
								But the teachers of religious law who had arrived from Jerusalem said, “He’s possessed by Satan, the prince of demons. That’s where he gets the power to cast out demons.”
								Jesus called them over and responded with an illustration." />

			<JesusSection Text="How can Satan cast out Satan? A kingdom divided by civil war will collapse. Similarly, a family splintered by feuding will fall apart. And if Satan is divided and fights against himself, how can he stand? He would never survive. Let me illustrate this further. Who is powerful enough to enter the house of a strong man and plunder his goods? Only someone even stronger - someone who could tie him up and then plunder his house.
								I tell you the truth, all sin and blasphemy can be forgiven, but anyone who blasphemes the Holy Spirit will never be forgiven. This is a sin with eternal consequences." />

			<BibleSection Text="He told them this because they were saying, “He’s possessed by an evil spirit.”" />
		</section>

		<section class="Part 3.5">
			<BibleSection Heading="The True Family of Jesus"
						  Text="Then Jesus’ mother and brothers came to see him. They stood outside and sent word for him to come out and talk with them. There was a crowd sitting around Jesus, and someone said, “Your mother and your brothers are outside asking for you.”

								Jesus replied," />

			<JesusSection Text="Who is my mother? Who are my brothers?" />

			<BibleSection Text="Then he looked at those around him and said," />

			<JesusSection Text="Look, these are my mother and brothers. Anyone who does God’s will is my brother and sister and mother." />
		</section>
	</section>



	<section class="Chapter 4">
		<BibleChapter Number="Chapter 4" />

		<section class="Part 4.1">
			<BibleSection Heading="Parable of the Farmer Scattering Seed"
						  Text="Once again Jesus began teaching by the lakeshore. A very large crowd soon gathered around him, so he got into a boat. Then he sat in the boat while all the people remained on the shore. He taught them by telling many stories in the form of parables, such as this one:" />

			<JesusSection Text="Listen! A farmer went out to plant some seed. As he scattered it across his field, some of the seed fell on a footpath, and the birds came and ate it. Other seed fell on shallow soil with underlying rock. The seed sprouted quickly because the soil was shallow. But the plant soon wilted under the hot sun, and since it didn’t have deep roots, it died. Other seed fell among thorns that grew up and choked out the tender plants so they produced no grain. Still other seeds fell on fertile soil, and they sprouted, grew, and produced a crop that was thirty, sixty, and even a hundred times as much as had been planted!
								Anyone with ears to hear should listen and understand." />

			<BibleSection Text="Later, when Jesus was alone with the twelve disciples and with the others who were gathered around, they asked him what the parables meant.

								He replied," />

			<JesusSection Text="You are permitted to understand the secret of the Kingdom of God. But I use parables for everything I say to outsiders, so that the Scriptures might be fulfilled:

								‘When they see what I do,
									they will learn nothing.
								When they hear what I say,
									they will not understand.
								Otherwise, they will turn to me
									and be forgiven.’" />

			<BibleSection Text="Then Jesus said to them," />

			<JesusSection Text="“If you can’t understand the meaning of this parable, how will you understand all the other parables? The farmer plants seed by taking God’s word to others. The seed that fell on the footpath represents those who hear the message, only to have Satan come at once and take it away. The seed on the rocky soil represents those who hear the message and immediately receive it with joy. But since they don’t have deep roots, they don’t last long. They fall away as soon as they have problems or are persecuted for believing God’s word. The seed that fell among the thorns represents others who hear God’s word, but all too quickly the message is crowded out by the worries of this life, the lure of wealth, and the desire for other things, so no fruit is produced. And the seed that fell on good soil represents those who hear and accept God’s word and produce a harvest of thirty, sixty, or even a hundred times as much as had been planted" />
		</section>

		<section class="Part 4.2">
			<BibleSection Heading="Parable of the Lamp"
						  Text="Then Jesus asked them," />

			<JesusSection Text="Would anyone light a lamp and then put it under a basket or under a bed? Of course not! A lamp is placed on a stand, where its light will shine. For everything that is hidden will eventually be brought into the open, and every secret will be brought to light. Anyone with ears to hear should listen and understand." />

			<BibleSection Text="Then he added, " />

			<JesusSection Text="Pay close attention to what you hear. The closer you listen, the more understanding you will be given - and you will receive even more. To those who listen to my teaching, more understanding will be given. But for those who are not listening, even what little understanding they have will be taken away from them." />
		</section>

		<section class="Part 4.3">
			<BibleSection Heading="Parable of the Growing Seed"
						  Text="Jesus also said, " />

			<JesusSection Text="The Kingdom of God is like a farmer who scatters seed on the ground. Night and day, while he’s asleep or awake, the seed sprouts and grows, but he does not understand how it happens. The earth produces the crops on its own. First a leaf blade pushes through, then the heads of wheat are formed, and finally the grain ripens. And as soon as the grain is ready, the farmer comes and harvests it with a sickle, for the harvest time has come." />
		</section>

		<section class="Part 4.4">
			<BibleSection Heading="Parable of the Mustard Seed"
						  Text="Jesus said," />

			<JesusSection Text="How can I describe the Kingdom of God? What story should I use to illustrate it? It is like a mustard seed planted in the ground. It is the smallest of all seeds, but it becomes the largest of all garden plants; it grows long branches, and birds can make nests in its shade." />

			<BibleSection Text="Jesus used many similar stories and illustrations to teach the people as much as they could understand. In fact, in his public ministry he never taught without using parables; but afterward, when he was alone with his disciples, he explained everything to them." />
		</section>

		<section class="Part 4.5">
			<BibleSection Heading="Jesus Calms the Storm"
						  Text="As evening came, Jesus said to his disciples," />

			<JesusSection Text="Let’s cross to the other side of the lake." />

			<BibleSection Text="So they took Jesus in the boat and started out, leaving the crowds behind (although other boats followed). But soon a fierce storm came up. High waves were breaking into the boat, and it began to fill with water.
								Jesus was sleeping at the back of the boat with his head on a cushion. The disciples woke him up, shouting, “Teacher, don’t you care that we’re going to drown?”
								When Jesus woke up, he rebuked the wind and said to the waves," />

			<JesusSection Text="Silence! Be still!" />

			<BibleSection Text="Suddenly the wind stopped, and there was a great calm. Then he asked them," />

			<JesusSection Text="Why are you afraid? Do you still have no faith?" />

			<BibleSection Text="The disciples were absolutely terrified. “Who is this man?” they asked each other. “Even the wind and waves obey him!”" />
		</section>
	</section>



	<section class="Chapter 5">
		<BibleChapter Number="Chapter 5" />

		<section class="Part 5.1">
			<BibleSection Heading="Jesus Heals a Demon-Possessed Man"
						  Text="So they arrived at the other side of the lake, in the region of the Gerasenes. When Jesus climbed out of the boat, a man possessed by an evil spirit came out from the tombs to meet him. This man lived in the burial caves and could no longer be restrained, even with a chain. Whenever he was put into chains and shackles - as he often was - he snapped the chains from his wrists and smashed the shackles. No one was strong enough to subdue him. Day and night he wandered among the burial caves and in the hills, howling and cutting himself with sharp stones.
								When Jesus was still some distance away, the man saw him, ran to meet him, and bowed low before him. With a shriek, he screamed, “Why are you interfering with me, Jesus, Son of the Most High God? In the name of God, I beg you, don’t torture me!” For Jesus had already said to the spirit," />

			<JesusSection Text="Come out of the man, you evil spirit." />

			<BibleSection Text="Then Jesus demanded," />

			<JesusSection Text="What is your name?" />

			<BibleSection Text="And he replied, “My name is Legion, because there are many of us inside this man.” Then the evil spirits begged him again and again not to send them to some distant place.
								There happened to be a large herd of pigs feeding on the hillside nearby. “Send us into those pigs,” the spirits begged. “Let us enter them.”
								So Jesus gave them permission. The evil spirits came out of the man and entered the pigs, and the entire herd of about 2,000 pigs plunged down the steep hillside into the lake and drowned in the water.
								The herdsmen fled to the nearby town and the surrounding countryside, spreading the news as they ran. People rushed out to see what had happened. A crowd soon gathered around Jesus, and they saw the man who had been possessed by the legion of demons. He was sitting there fully clothed and perfectly sane, and they were all afraid. Then those who had seen what happened told the others about the demon-possessed man and the pigs. And the crowd began pleading with Jesus to go away and leave them alone.
								As Jesus was getting into the boat, the man who had been demon possessed begged to go with him. But Jesus said," />

			<JesusSection Text="No, go home to your family, and tell them everything the Lord has done for you and how merciful he has been." />

			<BibleSection Text="So the man started off to visit the Ten Towns of that region and began to proclaim the great things Jesus had done for him; and everyone was amazed at what he told them." />
		</section>

		<section class="Part 5.2">
			<BibleSection Heading="Jesus Heals in Response to Faith"
						  Text="Jesus got into the boat again and went back to the other side of the lake, where a large crowd gathered around him on the shore. Then a leader of the local synagogue, whose name was Jairus, arrived. When he saw Jesus, he fell at his feet, pleading fervently with him. “My little daughter is dying,” he said. “Please come and lay your hands on her; heal her so she can live.”
								Jesus went with him, and all the people followed, crowding around him. A woman in the crowd had suffered for twelve years with constant bleeding. She had suffered a great deal from many doctors, and over the years she had spent everything she had to pay them, but she had gotten no better. In fact, she had gotten worse. She had heard about Jesus, so she came up behind him through the crowd and touched his robe. For she thought to herself, “If I can just touch his robe, I will be healed.” Immediately the bleeding stopped, and she could feel in her body that she had been healed of her terrible condition.
								Jesus realized at once that healing power had gone out from him, so he turned around in the crowd and asked," />

			<JesusSection Text="Who touched my robe?" />

			<BibleSection Text="His disciples said to him, “Look at this crowd pressing around you. How can you ask, ‘Who touched me?’”

								But he kept on looking around to see who had done it. Then the frightened woman, trembling at the realization of what had happened to her, came and fell to her knees in front of him and told him what she had done. And he said to her," />

			<JesusSection Text="Daughter, your faith has made you well. Go in peace. Your suffering is over." />

			<BibleSection Text="While he was still speaking to her, messengers arrived from the home of Jairus, the leader of the synagogue. They told him, “Your daughter is dead. There’s no use troubling the Teacher now.”
								But Jesus overheard them and said to Jairus, " />

			<JesusSection Text="Don’t be afraid. Just have faith." />

			<BibleSection Text="Then Jesus stopped the crowd and wouldn’t let anyone go with him except Peter, James, and John (the brother of James). When they came to the home of the synagogue leader, Jesus saw much commotion and weeping and wailing. He went inside and asked," />

			<JesusSection Text="Why all this commotion and weeping? The child isn’t dead; she’s only asleep." />

			<BibleSection Text="The crowd laughed at him. But he made them all leave, and he took the girl’s father and mother and his three disciples into the room where the girl was lying. Holding her hand, he said to her," />

			<JesusSection Text="Talitha koum (Little girl, get up!)" />

			<BibleSection Text="And the girl, who was twelve years old, immediately stood up and walked around! They were overwhelmed and totally amazed. Jesus gave them strict orders not to tell anyone what had happened, and then he told them to give her something to eat." />
		</section>
	</section>



	<section class="Chapter 6">
		<BibleChapter Number="Chapter 6" />

		<section class="Part 6.1">
			<BibleSection Heading="Jesus Rejected at Nazareth"
						  Text="Jesus left that part of the country and returned with his disciples to Nazareth, his hometown. The next Sabbath he began teaching in the synagogue, and many who heard him were amazed. They asked, “Where did he get all this wisdom and the power to perform such miracles?” Then they scoffed, “He’s just a carpenter, the son of Mary and the brother of James, Joseph, Judas, and Simon. And his sisters live right here among us.” They were deeply offended and refused to believe in him.
								Then Jesus told them," />

			<JesusSection Text="A prophet is honored everywhere except in his own hometown and among his relatives and his own family." />

			<BibleSection Text="And because of their unbelief, he couldn’t do any miracles among them except to place his hands on a few sick people and heal them. And he was amazed at their unbelief." />
		</section>

		<section class="Part 6.2">
			<BibleSection Heading="Jesus Sends Out the Twelve Disciples"
						  Text="Then Jesus went from village to village, teaching the people. And he called his twelve disciples together and began sending them out two by two, giving them authority to cast out evil spirits. He told them to take nothing for their journey except a walking stick - no food, no traveler’s bag, no money. He allowed them to wear sandals but not to take a change of clothes." />

			<JesusSection Text="Wherever you go, stay in the same house until you leave town. But if any place refuses to welcome you or listen to you, shake its dust from your feet as you leave to show that you have abandoned those people to their fate." />

			<BibleSection Text="So the disciples went out, telling everyone they met to repent of their sins and turn to God. And they cast out many demons and healed many sick people, anointing them with olive oil." />
		</section>

		<section class="Part 6.3">
			<BibleSection Heading="The Death of John the Baptist"
						  Text="Herod Antipas, the king, soon heard about Jesus, because everyone was talking about him. Some were saying, “This must be John the Baptist raised from the dead. That is why he can do such miracles.” Others said, “He’s the prophet Elijah.” Still others said, “He’s a prophet like the other great prophets of the past.”
								When Herod heard about Jesus, he said, “John, the man I beheaded, has come back from the dead.”
								For Herod had sent soldiers to arrest and imprison John as a favor to Herodias. She had been his brother Philip’s wife, but Herod had married her. John had been telling Herod, “It is against God’s law for you to marry your brother’s wife.” So Herodias bore a grudge against John and wanted to kill him. But without Herod’s approval she was powerless, for Herod respected John; and knowing that he was a good and holy man, he protected him. Herod was greatly disturbed whenever he talked with John, but even so, he liked to listen to him.
								Herodias’s chance finally came on Herod’s birthday. He gave a party for his high government officials, army officers, and the leading citizens of Galilee. Then his daughter, also named Herodias, came in and performed a dance that greatly pleased Herod and his guests. “Ask me for anything you like,” the king said to the girl, “and I will give it to you.” He even vowed, “I will give you whatever you ask, up to half my kingdom!”
								She went out and asked her mother, “What should I ask for?”
								Her mother told her, “Ask for the head of John the Baptist!”
								So the girl hurried back to the king and told him, “I want the head of John the Baptist, right now, on a tray!”
								Then the king deeply regretted what he had said; but because of the vows he had made in front of his guests, he couldn’t refuse her. So he immediately sent an executioner to the prison to cut off John’s head and bring it to him. The soldier beheaded John in the prison, brought his head on a tray, and gave it to the girl, who took it to her mother. When John’s disciples heard what had happened, they came to get his body and buried it in a tomb." />
		</section>

		<section class="Part 6.4">
			<BibleSection Heading="Jesus Feeds Five Thousand"
						  Text="The apostles returned to Jesus from their ministry tour and told him all they had done and taught. Then Jesus said," />

			<JesusSection Text="Let’s go off by ourselves to a quiet place and rest awhile." />

			<BibleSection Text="He said this because there were so many people coming and going that Jesus and his apostles didn’t even have time to eat.
								So they left by boat for a quiet place, where they could be alone. But many people recognized them and saw them leaving, and people from many towns ran ahead along the shore and got there ahead of them. Jesus saw the huge crowd as he stepped from the boat, and he had compassion on them because they were like sheep without a shepherd. So he began teaching them many things.
								Late in the afternoon his disciples came to him and said, “This is a remote place, and it’s already getting late. Send the crowds away so they can go to the nearby farms and villages and buy something to eat.”
								But Jesus said," />

			<JesusSection Text="You feed them." />

			<BibleSection Text="“With what?” they asked. “We’d have to work for months to earn enough money to buy food for all these people!”" />

			<JesusSection Text="How much bread do you have? Go and find out." />

			<BibleSection Text="They came back and reported, “We have five loaves of bread and two fish.”
								Then Jesus told the disciples to have the people sit down in groups on the green grass. So they sat down in groups of fifty or a hundred.
								Jesus took the five loaves and two fish, looked up toward heaven, and blessed them. Then, breaking the loaves into pieces, he kept giving the bread to the disciples so they could distribute it to the people. He also divided the fish for everyone to share. They all ate as much as they wanted, and afterward, the disciples picked up twelve baskets of leftover bread and fish. A total of 5,000 men and their families were fed." />
		</section>

		<section class="Part 6.5">
			<BibleSection Heading="Jesus Walks on Water"
						  Text="Immediately after this, Jesus insisted that his disciples get back into the boat and head across the lake to Bethsaida, while he sent the people home. After telling everyone good-bye, he went up into the hills by himself to pray.
								Late that night, the disciples were in their boat in the middle of the lake, and Jesus was alone on land. He saw that they were in serious trouble, rowing hard and struggling against the wind and waves. About three o’clock in the morning Jesus came toward them, walking on the water. He intended to go past them, but when they saw him walking on the water, they cried out in terror, thinking he was a ghost. They were all terrified when they saw him.
								But Jesus spoke to them at once. " />

			<JesusSection Text="Don’t be afraid, take courage! I am here!" />

			<BibleSection Text="Then he climbed into the boat, and the wind stopped. They were totally amazed, for they still didn’t understand the significance of the miracle of the loaves. Their hearts were too hard to take it in.
								After they had crossed the lake, they landed at Gennesaret. They brought the boat to shore and climbed out. The people recognized Jesus at once, and they ran throughout the whole area, carrying sick people on mats to wherever they heard he was. Wherever he went—in villages, cities, or the countryside—they brought the sick out to the marketplaces. They begged him to let the sick touch at least the fringe of his robe, and all who touched him were healed." />
		</section>
	</section>



	<section class="Chapter 7">
		<BibleChapter Number="Chapter 7" />

		<section class="Part 7.1">
			<BibleSection Heading="Jesus Teaches about Inner Purity"
						  Text="One day some Pharisees and teachers of religious law arrived from Jerusalem to see Jesus. They noticed that some of his disciples failed to follow the Jewish ritual of hand washing before eating. (The Jews, especially the Pharisees, do not eat until they have poured water over their cupped hands, as required by their ancient traditions. Similarly, they don’t eat anything from the market until they immerse their hands in water. This is but one of many traditions they have clung to—such as their ceremonial washing of cups, pitchers, and kettles.)
								So the Pharisees and teachers of religious law asked him, “Why don’t your disciples follow our age-old tradition? They eat without first performing the hand-washing ceremony.”
								Jesus replied, " />

			<JesusSection Text="You hypocrites! Isaiah was right when he prophesied about you, for he wrote,

								‘These people honor me with their lips, but their hearts are far from me.
								Their worship is a farce, for they teach man-made ideas as commands from God.’

								For you ignore God’s law and substitute your own tradition." />

			<BibleSection Text="Then he said," />

			<JesusSection Text="You skillfully sidestep God’s law in order to hold on to your own tradition. For instance, Moses gave you this law from God: ‘Honor your father and mother,’ and ‘Anyone who speaks disrespectfully of father or mother must be put to death.’ But you say it is all right for people to say to their parents, ‘Sorry, I can’t help you. For I have vowed to give to God what I would have given to you.’ In this way, you let them disregard their needy parents. And so you cancel the word of God in order to hand down your own tradition. And this is only one example among many others." />

			<BibleSection Text="Then Jesus called to the crowd to come and hear." />

			<JesusSection Text="All of you listen, and try to understand. It’s not what goes into your body that defiles you; you are defiled by what comes from your heart." />

			<BibleSection Text="Then Jesus went into a house to get away from the crowd, and his disciples asked him what he meant by the parable he had just used." />

			<JesusSection Text="Don’t you understand either? Can’t you see that the food you put into your body cannot defile you? Food doesn’t go into your heart, but only passes through the stomach and then goes into the sewer." />

			<BibleSection Text="(By saying this, he declared that every kind of food is acceptable in God’s eyes.)
								And then he added," />

			<JesusSection Text="It is what comes from inside that defiles you. For from within, out of a person’s heart, come evil thoughts, sexual immorality, theft, murder, adultery, greed, wickedness, deceit, lustful desires, envy, slander, pride, and foolishness. All these vile things come from within; they are what defile you." />
		</section>

		<section class="Part 7.2">
			<BibleSection Heading="The Faith of a Gentile Woman"
						  Text="Then Jesus left Galilee and went north to the region of Tyre. He didn’t want anyone to know which house he was staying in, but he couldn’t keep it a secret. Right away a woman who had heard about him came and fell at his feet. Her little girl was possessed by an evil spirit, and she begged him to cast out the demon from her daughter.
								Since she was a Gentile, born in Syrian Phoenicia, Jesus told her," />

			<JesusSection Text="First I should feed the children - my own family, the Jews. It isn’t right to take food from the children and throw it to the dogs." />

			<BibleSection Text="She replied, “That’s true, Lord, but even the dogs under the table are allowed to eat the scraps from the children’s plates.”" />

			<JesusSection Text="Good answer! Now go home, for the demon has left your daughter." />

			<BibleSection Text="And when she arrived home, she found her little girl lying quietly in bed, and the demon was gone. " />
		</section>

		<section class="Part 7.3">
			<BibleSection Heading="Jesus Heals a Deaf Man"
						  Text="Jesus left Tyre and went up to Sidon before going back to the Sea of Galilee and the region of the Ten Towns. A deaf man with a speech impediment was brought to him, and the people begged Jesus to lay his hands on the man to heal him.
								Jesus led him away from the crowd so they could be alone. He put his fingers into the man’s ears. Then, spitting on his own fingers, he touched the man’s tongue. Looking up to heaven, he sighed and said," />

			<JesusSection Text="Ephphatha (Be opened!) " />

			<BibleSection Text="Instantly the man could hear perfectly, and his tongue was freed so he could speak plainly!
								Jesus told the crowd not to tell anyone, but the more he told them not to, the more they spread the news. They were completely amazed and said again and again, “Everything he does is wonderful. He even makes the deaf to hear and gives speech to those who cannot speak.”" />
		</section>
	</section>



	<section class="Chapter 8">
		<BibleChapter Number="Chapter 8" />

		<section class="Part 8.1">
			<BibleSection Heading="Jesus Feeds Four Thousand"
						  Text="About this time another large crowd had gathered, and the people ran out of food again. Jesus called his disciples and told them," />

			<JesusSection Text="I feel sorry for these people. They have been here with me for three days, and they have nothing left to eat. If I send them home hungry, they will faint along the way. For some of them have come a long distance." />

			<BibleSection Text="His disciples replied, “How are we supposed to find enough food to feed them out here in the wilderness?”

								Jesus asked," />

			<JesusSection Text="How much bread do you have?" />

			<BibleSection Text="“Seven loaves,” they replied.
								So Jesus told all the people to sit down on the ground. Then he took the seven loaves, thanked God for them, and broke them into pieces. He gave them to his disciples, who distributed the bread to the crowd. A few small fish were found, too, so Jesus also blessed these and told the disciples to distribute them.
								They ate as much as they wanted. Afterward, the disciples picked up seven large baskets of leftover food. There were about 4,000 men in the crowd that day, and Jesus sent them home after they had eaten. Immediately after this, he got into a boat with his disciples and crossed over to the region of Dalmanutha." />
		</section>

		<section class="Part 8.2">
			<BibleSection Heading="Pharisees Demand a Miraculous Sign"
						  Text="When the Pharisees heard that Jesus had arrived, they came and started to argue with him. Testing him, they demanded that he show them a miraculous sign from heaven to prove his authority.
								When he heard this, he sighed deeply in his spirit and said," />

			<JesusSection Text="Why do these people keep demanding a miraculous sign? I tell you the truth, I will not give this generation any such sign." />

			<BibleSection Text="So he got back into the boat and left them, and he crossed to the other side of the lake." />
		</section>

		<section class="Part 8.3">
			<BibleSection Heading="Yeast of the Pharisees and Herod"
						  Text="But the disciples had forgotten to bring any food. They had only one loaf of bread with them in the boat. As they were crossing the lake, Jesus warned them," />

			<JesusSection Text="Watch out! Beware of the yeast of the Pharisees and of Herod." />

			<BibleSection Text="At this they began to argue with each other because they hadn’t brought any bread. Jesus knew what they were saying, so he said," />

			<JesusSection Text="Why are you arguing about having no bread? Don’t you know or understand even yet? Are your hearts too hard to take it in? ‘You have eyes—can’t you see? You have ears—can’t you hear?’ Don’t you remember anything at all? When I fed the 5,000 with five loaves of bread, how many baskets of leftovers did you pick up afterward?" />

			<BibleSection Text="“Twelve,” they said." />

			<JesusSection Text="And when I fed the 4,000 with seven loaves, how many large baskets of leftovers did you pick up?" />

			<BibleSection Text="“Seven,” they said." />

			<JesusSection Text="Don’t you understand yet?" />
		</section>

		<section class="Part 8.4">
			<BibleSection Heading="Jesus Heals a Blind Man"
						  Text="When they arrived at Bethsaida, some people brought a blind man to Jesus, and they begged him to touch the man and heal him. Jesus took the blind man by the hand and led him out of the village. Then, spitting on the man’s eyes, he laid his hands on him and asked," />

			<JesusSection Text="Can you see anything now?" />

			<BibleSection Text="The man looked around. “Yes,” he said, “I see people, but I can’t see them very clearly. They look like trees walking around.”
								Then Jesus placed his hands on the man’s eyes again, and his eyes were opened. His sight was completely restored, and he could see everything clearly. Jesus sent him away, saying, " />

			<JesusSection Text="Don’t go back into the village on your way home." />
		</section>

		<section class="Part 8.5">
			<BibleSection Heading="Peter’s Declaration about Jesus"
						  Text="Jesus and his disciples left Galilee and went up to the villages near Caesarea Philippi. As they were walking along, he asked them," />

			<JesusSection Text="Who do people say I am?" />

			<BibleSection Text="“Well,” they replied, “some say John the Baptist, some say Elijah, and others say you are one of the other prophets.”
								Then he asked them, " />

			<JesusSection Text="But who do you say I am?" />

			<BibleSection Text="Peter replied, “You are the Messiah.”
								But Jesus warned them not to tell anyone about him." />
		</section>

		<section class="Part 8.6">
			<BibleSection Heading="Jesus Predicts His Death"
						  Text="Then Jesus began to tell them that the Son of Man must suffer many terrible things and be rejected by the elders, the leading priests, and the teachers of religious law. He would be killed, but three days later he would rise from the dead. As he talked about this openly with his disciples, Peter took him aside and began to reprimand him for saying such things.
								Jesus turned around and looked at his disciples, then reprimanded Peter." />

			<JesusSection Text="Get away from me, Satan! You are seeing things merely from a human point of view, not from God’s." />

			<BibleSection Text="Then, calling the crowd to join his disciples, he said," />

			<JesusSection Text="If any of you wants to be my follower, you must give up your own way, take up your cross, and follow me. If you try to hang on to your life, you will lose it. But if you give up your life for my sake and for the sake of the Good News, you will save it. And what do you benefit if you gain the whole world but lose your own soul? Is anything worth more than your soul? If anyone is ashamed of me and my message in these adulterous and sinful days, the Son of Man will be ashamed of that person when he returns in the glory of his Father with the holy angels." />
		</section>


	</section>



	<section class="Chapter 9">
		<BibleChapter Number="Chapter 9" />

		<section class="Part 9.1">
			<JesusSection Text="I tell you the truth, some standing here right now will not die before they see the Kingdom of God arrive in great power!”" />
		</section>

		<section class="Part 9.2">
			<BibleSection Heading="The Transfiguration"
						  Text="Six days later Jesus took Peter, James, and John, and led them up a high mountain to be alone. As the men watched, Jesus’ appearance was transformed, and his clothes became dazzling white, far whiter than any earthly bleach could ever make them. Then Elijah and Moses appeared and began talking with Jesus.
								Peter exclaimed, “Rabbi, it’s wonderful for us to be here! Let’s make three shelters as memorials—one for you, one for Moses, and one for Elijah.” He said this because he didn’t really know what else to say, for they were all terrified.
								Then a cloud overshadowed them, and a voice from the cloud said, “This is my dearly loved Son. Listen to him.” Suddenly, when they looked around, Moses and Elijah were gone, and they saw only Jesus with them.
								As they went back down the mountain, he told them not to tell anyone what they had seen until the Son of Man had risen from the dead. So they kept it to themselves, but they often asked each other what he meant by “rising from the dead.”
								Then they asked him, “Why do the teachers of religious law insist that Elijah must return before the Messiah comes?”
								Jesus responded," />

			<JesusSection Text="Elijah is indeed coming first to get everything ready. Yet why do the Scriptures say that the Son of Man must suffer greatly and be treated with utter contempt? But I tell you, Elijah has already come, and they chose to abuse him, just as the Scriptures predicted." />
		</section>

		<section class="Part 9.3">
			<BibleSection Heading="Jesus Heals a Demon-Possessed Boy"
						  Text="When they returned to the other disciples, they saw a large crowd surrounding them, and some teachers of religious law were arguing with them. When the crowd saw Jesus, they were overwhelmed with awe, and they ran to greet him." />

			<JesusSection Text="What is all this arguing about?" />

			<BibleSection Text="One of the men in the crowd spoke up and said, “Teacher, I brought my son so you could heal him. He is possessed by an evil spirit that won’t let him talk. And whenever this spirit seizes him, it throws him violently to the ground. Then he foams at the mouth and grinds his teeth and becomes rigid. So I asked your disciples to cast out the evil spirit, but they couldn’t do it.”
								Jesus said to them," />

			<JesusSection Text="You faithless people! How long must I be with you? How long must I put up with you? Bring the boy to me." />

			<BibleSection Text="So they brought the boy. But when the evil spirit saw Jesus, it threw the child into a violent convulsion, and he fell to the ground, writhing and foaming at the mouth." />

			<JesusSection Text="How long has this been happening?" />

			<BibleSection Text="Jesus asked the boy’s father.
								He replied, “Since he was a little boy. The spirit often throws him into the fire or into water, trying to kill him. Have mercy on us and help us, if you can.”" />

			<JesusSection Text="What do you mean, ‘If I can’? Anything is possible if a person believes." />

			<BibleSection Text="The father instantly cried out, “I do believe, but help me overcome my unbelief!”
								When Jesus saw that the crowd of onlookers was growing, he rebuked the evil spirit." />

			<JesusSection Text="Listen, you spirit that makes this boy unable to hear and speak, I command you to come out of this child and never enter him again!" />

			<BibleSection Text="Then the spirit screamed and threw the boy into another violent convulsion and left him. The boy appeared to be dead. A murmur ran through the crowd as people said, “He’s dead.” But Jesus took him by the hand and helped him to his feet, and he stood up.
								Afterward, when Jesus was alone in the house with his disciples, they asked him, “Why couldn’t we cast out that evil spirit?”
								Jesus replied, " />

			<JesusSection Text="This kind can be cast out only by prayer." />

		</section>

		<section class="Part 9.4">
			<BibleSection Heading="Jesus Again Predicts His Death"
						  Text="Leaving that region, they traveled through Galilee. Jesus didn’t want anyone to know he was there, for he wanted to spend more time with his disciples and teach them. He said to them, " />

			<JesusSection Text="The Son of Man is going to be betrayed into the hands of his enemies. He will be killed, but three days later he will rise from the dead." />

			<BibleSection Text="They didn’t understand what he was saying, however, and they were afraid to ask him what he meant." />
		</section>

		<section class="Part 9.5">
			<BibleSection Heading="The Greatest in the Kingdom"
						  Text="After they arrived at Capernaum and settled in a house, Jesus asked his disciples," />

			<JesusSection Text="What were you discussing out on the road?" />

			<BibleSection Text="But they didn’t answer, because they had been arguing about which of them was the greatest. He sat down, called the twelve disciples over to him, and said," />

			<JesusSection Text="Whoever wants to be first must take last place and be the servant of everyone else." />

			<BibleSection Text="Then he put a little child among them. Taking the child in his arms, he said to them," />

			<JesusSection Text="Anyone who welcomes a little child like this on my behalf welcomes me, and anyone who welcomes me welcomes not only me but also my Father who sent me." />
		</section>

		<section class="Part 9.6">
			<BibleSection Heading="Using the Name of Jesus"
						  Text="John said to Jesus, “Teacher, we saw someone using your name to cast out demons, but we told him to stop because he wasn’t in our group.”" />

			<JesusSection Text="Don’t stop him! No one who performs a miracle in my name will soon be able to speak evil of me. Anyone who is not against us is for us. If anyone gives you even a cup of water because you belong to the Messiah, I tell you the truth, that person will surely be rewarded.
								But if you cause one of these little ones who trusts in me to fall into sin, it would be better for you to be thrown into the sea with a large millstone hung around your neck. If your hand causes you to sin, cut it off. It’s better to enter eternal life with only one hand than to go into the unquenchable fires of hell with two hands. If your foot causes you to sin, cut it off. It’s better to enter eternal life with only one foot than to be thrown into hell with two feet. And if your eye causes you to sin, gouge it out. It’s better to enter the Kingdom of God with only one eye than to have two eyes and be thrown into hell, ‘where the maggots never die and the fire never goes out.’
								For everyone will be tested with fire. Salt is good for seasoning. But if it loses its flavor, how do you make it salty again? You must have the qualities of salt among yourselves and live in peace with each other." />
		</section>
	</section>



	<section class="Chapter 10">
		<BibleChapter Number="Chapter 10" />

		<section class="Part 10.1">
			<BibleSection Heading="Discussion about Divorce and Marriage"
						  Text="Then Jesus left Capernaum and went down to the region of Judea and into the area east of the Jordan River. Once again crowds gathered around him, and as usual he was teaching them.
								Some Pharisees came and tried to trap him with this question: “Should a man be allowed to divorce his wife?”
								Jesus answered them with a question:" />

			<JesusSection Text="What did Moses say in the law about divorce?" />

			<BibleSection Text="“Well, he permitted it,” they replied. “He said a man can give his wife a written notice of divorce and send her away.”
								But Jesus responded," />

			<JesusSection Text="He wrote this commandment only as a concession to your hard hearts. But ‘God made them male and female’ from the beginning of creation. ‘This explains why a man leaves his father and mother and is joined to his wife, and the two are united into one.’ Since they are no longer two but one, let no one split apart what God has joined together." />

			<BibleSection Text="Later, when he was alone with his disciples in the house, they brought up the subject again. He told them," />

			<JesusSection Text="Whoever divorces his wife and marries someone else commits adultery against her. And if a woman divorces her husband and marries someone else, she commits adultery." />
		</section>

		<section class="Part 10.2">
			<BibleSection Heading="Jesus Blesses the Children"
						  Text="One day some parents brought their children to Jesus so he could touch and bless them. But the disciples scolded the parents for bothering him.
								When Jesus saw what was happening, he was angry with his disciples. He said to them," />

			<JesusSection Text="Let the children come to me. Don’t stop them! For the Kingdom of God belongs to those who are like these children. I tell you the truth, anyone who doesn’t receive the Kingdom of God like a child will never enter it." />

			<BibleSection Text="Then he took the children in his arms and placed his hands on their heads and blessed them." />
		</section>

		<section class="Part 10.3">
			<BibleSection Heading="The Rich Man"
						  Text="As Jesus was starting out on his way to Jerusalem, a man came running up to him, knelt down, and asked, “Good Teacher, what must I do to inherit eternal life?”" />

			<JesusSection Text="Why do you call me good? Only God is truly good. But to answer your question, you know the commandments: ‘You must not murder. You must not commit adultery. You must not steal. You must not testify falsely. You must not cheat anyone. Honor your father and mother." />

			<BibleSection Text="“Teacher,” the man replied, “I’ve obeyed all these commandments since I was young.”
								Looking at the man, Jesus felt genuine love for him. " />

			<JesusSection Text="There is still one thing you haven’t done. Go and sell all your possessions and give the money to the poor, and you will have treasure in heaven. Then come, follow me.”" />

			<BibleSection Text="At this the man’s face fell, and he went away sad, for he had many possessions.
								Jesus looked around and said to his disciples," />

			<JesusSection Text="How hard it is for the rich to enter the Kingdom of God!" />

			<BibleSection Text="This amazed them. But Jesus said again, " />

			<JesusSection Text="Dear children, it is very hard to enter the Kingdom of God. In fact, it is easier for a camel to go through the eye of a needle than for a rich person to enter the Kingdom of God!" />

			<BibleSection Text="The disciples were astounded. “Then who in the world can be saved?” they asked.
								Jesus looked at them intently and said," />

			<JesusSection Text="Humanly speaking, it is impossible. But not with God. Everything is possible with God." />

			<BibleSection Text="Then Peter began to speak up. “We’ve given up everything to follow you,” he said." />

			<JesusSection Text="Yes, and I assure you that everyone who has given up house or brothers or sisters or mother or father or children or property, for my sake and for the Good News, will receive now in return a hundred times as many houses, brothers, sisters, mothers, children, and property - along with persecution. And in the world to come that person will have eternal life. But many who are the greatest now will be least important then, and those who seem least important now will be the greatest then." />
		</section>

		<section class="Part 10.4">
			<BibleSection Heading="Jesus Again Predicts His Death"
						  Text="They were now on the way up to Jerusalem, and Jesus was walking ahead of them. The disciples were filled with awe, and the people following behind were overwhelmed with fear. Taking the twelve disciples aside, Jesus once more began to describe everything that was about to happen to him." />

			<JesusSection Text="Listen, we’re going up to Jerusalem, where the Son of Man will be betrayed to the leading priests and the teachers of religious law. They will sentence him to die and hand him over to the Romans. They will mock him, spit on him, flog him with a whip, and kill him, but after three days he will rise again." />
		</section>

		<section class="Part 10.5">
			<BibleSection Heading="Jesus Teaches about Serving Others"
						  Text="Then James and John, the sons of Zebedee, came over and spoke to him. “Teacher,” they said, “we want you to do us a favor.”" />

			<JesusSection Text="What is your request?" />

			<BibleSection Text="They replied, “When you sit on your glorious throne, we want to sit in places of honor next to you, one on your right and the other on your left.”
								But Jesus said to them, " />

			<JesusSection Text="You don’t know what you are asking! Are you able to drink from the bitter cup of suffering I am about to drink? Are you able to be baptized with the baptism of suffering I must be baptized with?" />

			<BibleSection Text="“Oh yes,” they replied, “we are able!”
								Then Jesus told them," />

			<JesusSection Text="You will indeed drink from my bitter cup and be baptized with my baptism of suffering. But I have no right to say who will sit on my right or my left. God has prepared those places for the ones he has chosen." />

			<BibleSection Text="When the ten other disciples heard what James and John had asked, they were indignant. So Jesus called them together and said, " />

			<JesusSection Text="You know that the rulers in this world lord it over their people, and officials flaunt their authority over those under them. But among you it will be different. Whoever wants to be a leader among you must be your servant, and whoever wants to be first among you must be the slave of everyone else. For even the Son of Man came not to be served but to serve others and to give his life as a ransom for many." />
		</section>

		<section class="Part 10.6">
			<BibleSection Heading="Jesus Heals Blind Bartimaeus"
						  Text="Then they reached Jericho, and as Jesus and his disciples left town, a large crowd followed him. A blind beggar named Bartimaeus (son of Timaeus) was sitting beside the road. When Bartimaeus heard that Jesus of Nazareth was nearby, he began to shout, “Jesus, Son of David, have mercy on me!”
								“Be quiet!” many of the people yelled at him.
								But he only shouted louder, “Son of David, have mercy on me!”
								When Jesus heard him, he stopped and said, " />

			<JesusSection Text="Tell him to come here." />

			<BibleSection Text="So they called the blind man. “Cheer up,” they said. “Come on, he’s calling you!” Bartimaeus threw aside his coat, jumped up, and came to Jesus." />

			<JesusSection Text="What do you want me to do for you?" />

			<BibleSection Text="“My Rabbi,” the blind man said, “I want to see!”

								And Jesus said to him," />

			<JesusSection Text="Go, for your faith has healed you." />

			<BibleSection Text="Instantly the man could see, and he followed Jesus down the road." />
		</section>
	</section>



	<section class="Chapter 11">
		<BibleChapter Number="Chapter 11" />

		<section class="Part 11.1">
			<BibleSection Heading="Jesus’ Triumphant Entry"
						  Text="As Jesus and his disciples approached Jerusalem, they came to the towns of Bethphage and Bethany on the Mount of Olives. Jesus sent two of them on ahead." />

			<JesusSection Text="Go into that village over there, as soon as you enter it, you will see a young donkey tied there that no one has ever ridden. Untie it and bring it here. If anyone asks, ‘What are you doing?’ just say, ‘The Lord needs it and will return it soon.’" />

			<BibleSection Text="The two disciples left and found the colt standing in the street, tied outside the front door. As they were untying it, some bystanders demanded, “What are you doing, untying that colt?” They said what Jesus had told them to say, and they were permitted to take it. Then they brought the colt to Jesus and threw their garments over it, and he sat on it.
								Many in the crowd spread their garments on the road ahead of him, and others spread leafy branches they had cut in the fields. Jesus was in the center of the procession, and the people all around him were shouting,

								“Praise God!
									Blessings on the one who comes in the name of the Lord!
								Blessings on the coming Kingdom of our ancestor David!
									Praise God in highest heaven!”

								So Jesus came to Jerusalem and went into the Temple. After looking around carefully at everything, he left because it was late in the afternoon. Then he returned to Bethany with the twelve disciples." />
		</section>

		<section class="Part 11.2">
			<BibleSection Heading="Jesus Curses the Fig Tree"
						  Text="The next morning as they were leaving Bethany, Jesus was hungry. He noticed a fig tree in full leaf a little way off, so he went over to see if he could find any figs. But there were only leaves because it was too early in the season for fruit. Then Jesus said to the tree," />

			<JesusSection Text="May no one ever eat your fruit again!" />

			<BibleSection Text="And the disciples heard him say it." />
		</section>

		<section class="Part 11.3">
			<BibleSection Heading="Jesus Clears the Temple"
						  Text="When they arrived back in Jerusalem, Jesus entered the Temple and began to drive out the people buying and selling animals for sacrifices. He knocked over the tables of the money changers and the chairs of those selling doves, and he stopped everyone from using the Temple as a marketplace. He said to them," />

			<JesusSection Text="The Scriptures declare, ‘My Temple will be called a house of prayer for all nations,’ but you have turned it into a den of thieves." />

			<BibleSection Text="When the leading priests and teachers of religious law heard what Jesus had done, they began planning how to kill him. But they were afraid of him because the people were so amazed at his teaching.
								That evening Jesus and the disciples left the city.
								The next morning as they passed by the fig tree he had cursed, the disciples noticed it had withered from the roots up. Peter remembered what Jesus had said to the tree on the previous day and exclaimed, “Look, Rabbi! The fig tree you cursed has withered and died!”
								Then Jesus said to the disciples," />

			<JesusSection Text="Have faith in God. I tell you the truth, you can say to this mountain, ‘May you be lifted up and thrown into the sea,’ and it will happen. But you must really believe it will happen and have no doubt in your heart. I tell you, you can pray for anything, and if you believe that you’ve received it, it will be yours. But when you are praying, first forgive anyone you are holding a grudge against, so that your Father in heaven will forgive your sins, too." />
		</section>

		<section class="Part 11.4">
			<BibleSection Heading="The Authority of Jesus Challenged"
						  Text="Again they entered Jerusalem. As Jesus was walking through the Temple area, the leading priests, the teachers of religious law, and the elders came up to him. They demanded, “By what authority are you doing all these things? Who gave you the right to do them?”" />

			<JesusSection Text="I’ll tell you by what authority I do these things if you answer one question.
								Did John’s authority to baptize come from heaven, or was it merely human? Answer me!" />

			<BibleSection Text="They talked it over among themselves. “If we say it was from heaven, he will ask why we didn’t believe John. But do we dare say it was merely human?” For they were afraid of what the people would do, because everyone believed that John was a prophet. So they finally replied, “We don’t know.”
								And Jesus responded," />

			<JesusSection Text="Then I won’t tell you by what authority I do these things." />
		</section>
	</section>



	<section class="Chapter 12">
		<BibleChapter Number="Chapter 12" />

		<section class="Part 12.1">
			<BibleSection Heading="Parable of the Evil Farmers"
						  Text="Then Jesus began teaching them with stories:" />

			<JesusSection Text="A man planted a vineyard. He built a wall around it, dug a pit for pressing out the grape juice, and built a lookout tower. Then he leased the vineyard to tenant farmers and moved to another country. At the time of the grape harvest, he sent one of his servants to collect his share of the crop. But the farmers grabbed the servant, beat him up, and sent him back empty-handed. The owner then sent another servant, but they insulted him and beat him over the head. The next servant he sent was killed. Others he sent were either beaten or killed, until there was only one left - his son whom he loved dearly. The owner finally sent him, thinking, ‘Surely they will respect my son.’
								But the tenant farmers said to one another, ‘Here comes the heir to this estate. Let’s kill him and get the estate for ourselves!’ So they grabbed him and murdered him and threw his body out of the vineyard.
								What do you suppose the owner of the vineyard will do? I’ll tell you - he will come and kill those farmers and lease the vineyard to others. Didn’t you ever read this in the Scriptures?

								‘The stone that the builders rejected
									has now become the cornerstone.
								This is the Lord’s doing,
									and it is wonderful to see.’" />

			<BibleSection Text="The religious leaders wanted to arrest Jesus because they realized he was telling the story against them - they were the wicked farmers. But they were afraid of the crowd, so they left him and went away." />
		</section>

		<section class="Part 12.2">
			<BibleSection Heading="Taxes for Caesar"
						  Text="Later the leaders sent some Pharisees and supporters of Herod to trap Jesus into saying something for which he could be arrested. “Teacher,” they said, “we know how honest you are. You are impartial and don’t play favorites. You teach the way of God truthfully. Now tell us - is it right to pay taxes to Caesar or not? Should we pay them, or shouldn’t we?”
								Jesus saw through their hypocrisy and said, " />

			<JesusSection Text="Why are you trying to trap me? Show me a Roman coin, and I’ll tell you." />

			<BibleSection Text="When they handed it to him, he asked," />

			<JesusSection Text="Whose picture and title are stamped on it?" />

			<BibleSection Text="“Caesar’s,” they replied." />

			<JesusSection Text="Well, then give to Caesar what belongs to Caesar, and give to God what belongs to God." />

			<BibleSection Text="His reply completely amazed them." />
		</section>

		<section class="Part 12.3">
			<BibleSection Heading="Discussion about Resurrection"
						  Text="Then Jesus was approached by some Sadducees - religious leaders who say there is no resurrection from the dead. They posed this question: “Teacher, Moses gave us a law that if a man dies, leaving a wife without children, his brother should marry the widow and have a child who will carry on the brother’s name. Well, suppose there were seven brothers. The oldest one married and then died without children. So the second brother married the widow, but he also died without children. Then the third brother married her. This continued with all seven of them, and still there were no children. Last of all, the woman also died. So tell us, whose wife will she be in the resurrection? For all seven were married to her.”
								Jesus replied, " />

			<JesusSection Text="Your mistake is that you don’t know the Scriptures, and you don’t know the power of God. For when the dead rise, they will neither marry nor be given in marriage. In this respect they will be like the angels in heaven.
								But now, as to whether the dead will be raised - haven’t you ever read about this in the writings of Moses, in the story of the burning bush? Long after Abraham, Isaac, and Jacob had died, God said to Moses, ‘I am the God of Abraham, the God of Isaac, and the God of Jacob.’ So he is the God of the living, not the dead. You have made a serious error." />
		</section>

		<section class="Part 12.4">
			<BibleSection Heading="The Most Important Commandment"
						  Text="One of the teachers of religious law was standing there listening to the debate. He realized that Jesus had answered well, so he asked, “Of all the commandments, which is the most important?”
								Jesus replied," />

			<JesusSection Text="The most important commandment is this: ‘Listen, O Israel! The Lord our God is the one and only Lord. And you must love the Lord your God with all your heart, all your soul, all your mind, and all your strength.’ The second is equally important: ‘Love your neighbor as yourself.’ No other commandment is greater than these." />

			<BibleSection Text="The teacher of religious law replied, “Well said, Teacher. You have spoken the truth by saying that there is only one God and no other. And I know it is important to love him with all my heart and all my understanding and all my strength, and to love my neighbor as myself. This is more important than to offer all of the burnt offerings and sacrifices required in the law.”
								Realizing how much the man understood, Jesus said to him," />

			<JesusSection Text="You are not far from the Kingdom of God." />

			<BibleSection Text="And after that, no one dared to ask him any more questions." />
		</section>

		<section class="Part 12.5">
			<BibleSection Heading="Whose Son Is the Messiah?"
						  Text="Later, as Jesus was teaching the people in the Temple, he asked," />

			<JesusSection Text="Why do the teachers of religious law claim that the Messiah is the son of David? For David himself, speaking under the inspiration of the Holy Spirit, said,

								‘The Lord said to my Lord,
								Sit in the place of honor at my right hand
									until I humble your enemies beneath your feet.’

								Since David himself called the Messiah ‘my Lord,’ how can the Messiah be his son?" />

			<BibleSection Text="The large crowd listened to him with great delight.
								Jesus also taught: " />

			<JesusSection Text="Beware of these teachers of religious law! For they like to parade around in flowing robes and receive respectful greetings as they walk in the marketplaces. And how they love the seats of honor in the synagogues and the head table at banquets. Yet they shamelessly cheat widows out of their property and then pretend to be pious by making long prayers in public. Because of this, they will be more severely punished." />
		</section>

		<section class="Part 12.6">
			<BibleSection Heading="The Widow’s Offering"
						  Text="Jesus sat down near the collection box in the Temple and watched as the crowds dropped in their money. Many rich people put in large amounts. Then a poor widow came and dropped in two small coins.
								Jesus called his disciples to him and said," />

			<JesusSection Text="I tell you the truth, this poor widow has given more than all the others who are making contributions. For they gave a tiny part of their surplus, but she, poor as she is, has given everything she had to live on." />
		</section>
	</section>



	<section class="Chapter 13">
		<BibleChapter Number="Chapter 13" />
	</section>



	<section class="Chapter 14">
		<BibleChapter Number="Chapter 14" />
	</section>



	<section class="Chapter 15">
		<BibleChapter Number="Chapter 14" />
	</section>



	<section class="Chapter 16">
		<BibleChapter Number="Chapter 14" />
	</section>
</article>

<BackButton />
<BibleFooter Message="NLT." />


@code {
	/*
	<section class="Part x.x">
		<BibleSection Heading=""
		Text="" />

		<JesusSection Text="" />

		<BibleSection Text="" />

		<JesusSection Text="" />

		<BibleSection Text="" />

		<JesusSection Text="" />

		<BibleSection Text="" />

		<JesusSection Text="" />

		<BibleSection Text="" />
	</section>
	*/
}