@page "/matthew"

<PageTitle>Matthew</PageTitle>

<article class="Matthew">

	<BibleBook Name=Matthew />

	<section class="Chapter 1">
		<BibleChapter Number="Chapter 1" />

		<section class="Part 1.1">
			<BibleSection Heading="Joseph Accepts Jesus as His Son"
						  Text="This is how the birth of Jesus the Messiah came about:

								His mother Mary was pledged to be married to Joseph, but before they came together, she was found to be pregnant through the Holy Spirit. Because Joseph her husband was faithful to the law, and yet did not want to expose her to public disgrace, he had in mind to divorce her quietly. But after he had considered this, an angel of the Lord appeared to him in a dream and said, “Joseph son of David, do not be afraid to take Mary home as your wife, because what is conceived in her is from the Holy Spirit. She will give birth to a son, and you are to give him the name Jesus, because he will save his people from their sins. ”

								All this took place to fulfill what the Lord had said through the prophet: “The virgin will conceive and give birth to a son, and they will call him Immanuel” (which means “God with us”).

								When Joseph woke up, he did what the angel of the Lord had commanded him and took Mary home as his wife. But he did not consummate their marriage until she gave birth to a son. And he gave him the name Jesus. " />
		</section>
	</section>



	<section class="Chapter 2">
		<BibleChapter Number="Chapter 2" />

		<section class="Part 2.1">
			<BibleSection Heading="The Magi Visit the Messiah"
						  Text="After Jesus was born in Bethlehem in Judea, during the time of King Herod, Magi from the east came to Jerusalem and asked, “Where is the one who has been born king of the Jews? We saw his star when it rose and have come to worship him. ”

								When King Herod heard this he was disturbed, and all Jerusalem with him. When he had called together all the people’s chief priests and teachers of the law, he asked them where the Messiah was to be born. “In Bethlehem in Judea, ” they replied, “for this is what the prophet has written:

								‘But you, Bethlehem, in the land of Judah,
								are by no means least among the rulers of Judah;
								for out of you will come a ruler
								who will shepherd my people Israel. ’”

								Then Herod called the Magi secretly and found out from them the exact time the star had appeared. He sent them to Bethlehem and said, “Go and search carefully for the child. As soon as you find him, report to me, so that I too may go and worship him. ”

								After they had heard the king, they went on their way, and the star they had seen when it rose went ahead of them until it stopped over the place where the child was. When they saw the star, they were overjoyed. On coming to the house, they saw the child with his mother Mary, and they bowed down and worshiped him. Then they opened their treasures and presented him with gifts of gold, frankincense and myrrh. And having been warned in a dream not to go back to Herod, they returned to their country by another route. " />
		</section>


		<section class="Part 2.2">
			<BibleSection Heading="The Escape to Egypt"
						  Text="When they had gone, an angel of the Lord appeared to Joseph in a dream. “Get up, ” he said, “take the child and his mother and escape to Egypt. Stay there until I tell you, for Herod is going to search for the child to kill him. ”

								So he got up, took the child and his mother during the night and left for Egypt, where he stayed until the death of Herod. And so was fulfilled what the Lord had said through the prophet: “Out of Egypt I called my son. ”

								When Herod realized that he had been outwitted by the Magi, he was furious, and he gave orders to kill all the boys in Bethlehem and its vicinity who were two years old and under, in accordance with the time he had learned from the Magi. Then what was said through the prophet Jeremiah was fulfilled:

								“A voice is heard in Ramah,
								weeping and great mourning,
								Rachel weeping for her children
								and refusing to be comforted,
								because they are no more. ”" />
		</section>


		<section class="Part 2.3">
			<BibleSection Heading="The Return to Nazareth"
						  Text="After Herod died, an angel of the Lord appeared in a dream to Joseph in Egypt and said, “Get up, take the child and his mother and go to the land of Israel, for those who were trying to take the child’s life are dead. ”

								So he got up, took the child and his mother and went to the land of Israel. But when he heard that Archelaus was reigning in Judea in place of his father Herod, he was afraid to go there. Having been warned in a dream, he withdrew to the district of Galilee, and he went and lived in a town called Nazareth. So was fulfilled what was said through the prophets, that he would be called a Nazarene. " />
		</section>
	</section>



	<section class="Chapter 3">
		<BibleChapter Number="Chapter 3" />

		<section class="Part 3.1">
			<BibleSection Heading="John the Baptist Prepares the Way"
						  Text="In those days John the Baptist came, preaching in the wilderness of Judea and saying, “Repent, for the kingdom of heaven has come near. ” This is he who was spoken of through the prophet Isaiah:

								“A voice of one calling in the wilderness,
								‘Prepare the way for the Lord,
								make straight paths for him. ’”

								John’s clothes were made of camel’s hair, and he had a leather belt around his waist. His food was locusts and wild honey. People went out to him from Jerusalem and all Judea and the whole region of the Jordan. Confessing their sins, they were baptized by him in the Jordan River.

								But when he saw many of the Pharisees and Sadducees coming to where he was baptizing, he said to them: “You brood of vipers! Who warned you to flee from the coming wrath? Produce fruit in keeping with repentance. And do not think you can say to yourselves, ‘We have Abraham as our father. ’ I tell you that out of these stones God can raise up children for Abraham. The ax is already at the root of the trees, and every tree that does not produce good fruit will be cut down and thrown into the fire. I baptize you with water for repentance. But after me comes one who is more powerful than I, whose sandals I am not worthy to carry. He will baptize you with the Holy Spirit and fire. His winnowing fork is in his hand, and he will clear his threshing floor, gathering his wheat into the barn and burning up the chaff with unquenchable fire. ”" />
		</section>


		<section class="Part 3.2">
			<BibleSection Heading="The Baptism of Jesus"
						  Text="Then Jesus came from Galilee to the Jordan to be baptized by John. But John tried to deter him, saying, “I need to be baptized by you, and do you come to me?” Jesus replied, " />

			<JesusSection Text="Let it be so now; it is proper for us to do this to fulfill all righteousness. " />

			<BibleSection Text="Then John consented.

								As soon as Jesus was baptized, he went up out of the water. At that moment heaven was opened, and he saw the Spirit of God descending like a dove and alighting on him. And a voice from heaven said, “This is my Son, whom I love; with him I am well pleased. ”" />
		</section>
	</section>



	<section class="Chapter 4">
		<BibleChapter Number="Chapter 4" />

		<section class="Part 4.1">
			<BibleSection Heading="Jesus Is Tested in the Wilderness"
						  Text="Then Jesus was led by the Spirit into the wilderness to be tempted by the devil. After fasting forty days and forty nights, he was hungry. The tempter came to him and said, “If you are the Son of God, tell these stones to become bread. ”

								Jesus answered, " />

			<JesusSection Text="It is written: ‘Man shall not live on bread alone, but on every word that comes from the mouth of God. ’" />

			<BibleSection Text="Then the devil took him to the holy city and had him stand on the highest point of the temple. “If you are the Son of God, ” he said, “throw yourself down. For it is written: ‘He will command his angels concerning you, and they will lift you up in their hands, so that you will not strike your foot against a stone. ’”

								Jesus answered him, " />

			<JesusSection Text="It is also written: ‘Do not put the Lord your God to the test. ’" />

			<BibleSection Text="Again, the devil took him to a very high mountain and showed him all the kingdoms of the world and their splendor. “All this I will give you, ” he said, “if you will bow down and worship me. ”

								Jesus said to him, " />

			<JesusSection Text="Away from me, Satan! For it is written: ‘Worship the Lord your God, and serve him only. ’" />

			<BibleSection Text="Then the devil left him, and angels came and attended him. " />

		</section>


		<section class="Part 4.2">
			<BibleSection Heading="Jesus Begins to Preach"
						  Text="When Jesus heard that John had been put in prison, he withdrew to Galilee. Leaving Nazareth, he went and lived in Capernaum, which was by the lake in the area of Zebulun and Naphtali - to fulfill what was said through the prophet Isaiah:

								“Land of Zebulun and land of Naphtali, the Way of the Sea, beyond the Jordan, Galilee of the Gentiles - the people living in darkness have seen a great light;
								on those living in the land of the shadow of death a light has dawned. ”

								From that time on Jesus began to preach, " />

			<JesusSection Text="Repent, for the kingdom of heaven has come near. " />
		</section>


		<section class="Part 4.3">
			<BibleSection Heading="Jesus Calls His First Disciples"
						  Text="As Jesus was walking beside the Sea of Galilee, he saw two brothers, Simon called Peter and his brother Andrew. They were casting a net into the lake, for they were fishermen. " />

			<JesusSection Text="Come, follow me, and I will send you out to fish for people. " />

			<BibleSection Text="At once they left their nets and followed him.

								Going on from there, he saw two other brothers, James son of Zebedee and his brother John. They were in a boat with their father Zebedee, preparing their nets. Jesus called them, and immediately they left the boat and their father and followed him. " />
		</section>


		<section class="Part 4.4">
			<BibleSection Heading="Jesus Heals the Sick"
						  Text="Jesus went throughout Galilee, teaching in their synagogues, proclaiming the good news of the kingdom, and healing every disease and sickness among the people. News about him spread all over Syria, and people brought to him all who were ill with various diseases, those suffering severe pain, the demon-possessed, those having seizures, and the paralyzed; and he healed them. Large crowds from Galilee, the Decapolis, Jerusalem, Judea and the region across the Jordan followed him. " />
		</section>
	</section>



	<section class="Chapter 5">
		<BibleChapter Number="Chapter 5" />

		<section class="Part 5.1">
			<BibleSection Heading="Sermon on the Mount:"
						  Text="Now when Jesus saw the crowds, he went up on a mountainside and sat down. His disciples came to him, and he began to teach them. " />

		</section>


		<section class="Part 5.2">
			<JesusSection Heading="The Beatitudes"
						  Text="Blessed are the poor in spirit, for theirs is the kingdom of heaven.
								Blessed are those who mourn, for they will be comforted.
								Blessed are the meek, for they will inherit the earth.
								Blessed are those who hunger and thirst for righteousness, for they will be filled.
								Blessed are the merciful, for they will be shown mercy.
								Blessed are the pure in heart, for they will see God.
								Blessed are the peacemakers, for they will be called children of God.
								Blessed are those who are persecuted because of righteousness, for theirs is the kingdom of heaven.

								Blessed are you when people insult you, persecute you and falsely say all kinds of evil against you because of me.
								Rejoice and be glad, because great is your reward in heaven, for in the same way they persecuted the prophets who were before you. " />
		</section>


		<section class="Part 5.3">
			<JesusSection Heading="Salt and Light"
						  Text="You are the salt of the earth. But if the salt loses its saltiness, how can it be made salty again? It is no longer good for anything, except to be thrown out and trampled underfoot.

								You are the light of the world. A town built on a hill cannot be hidden. Neither do people light a lamp and put it under a bowl. Instead they put it on its stand, and it gives light to everyone in the house. In the same way, let your light shine before others, that they may see your good deeds and glorify your Father in heaven. " />
		</section>


		<section class="Part 5.4">
			<JesusSection Heading="The Fulfillment of the Law"
						  Text="Do not think that I have come to abolish the Law or the Prophets; I have not come to abolish them but to fulfill them. For truly I tell you, until heaven and earth disappear, not the smallest letter, not the least stroke of a pen, will by any means disappear from the Law until everything is accomplished. Therefore anyone who sets aside one of the least of these commands and teaches others accordingly will be called least in the kingdom of heaven, but whoever practices and teaches these commands will be called great in the kingdom of heaven. For I tell you that unless your righteousness surpasses that of the Pharisees and the teachers of the law, you will certainly not enter the kingdom of heaven. " />
		</section>


		<section class="Part 5.5">
			<JesusSection Heading="Murder"
						  Text="You have heard that it was said to the people long ago, ‘You shall not murder, and anyone who murders will be subject to judgment. ’ But I tell you that anyone who is angry with a brother or sister will be subject to judgment. Again, anyone who says to a brother or sister, ‘Raca, ’ is answerable to the court. And anyone who says, ‘You fool!’ will be in danger of the fire of hell.

								Therefore, if you are offering your gift at the altar and there remember that your brother or sister has something against you, leave your gift there in front of the altar. First go and be reconciled to them; then come and offer your gift.

								Settle matters quickly with your adversary who is taking you to court. Do it while you are still together on the way, or your adversary may hand you over to the judge, and the judge may hand you over to the officer, and you may be thrown into prison. Truly I tell you, you will not get out until you have paid the last penny. " />
		</section>


		<section class="Part 5.6">
			<JesusSection Heading="Adultery"
						  Text="You have heard that it was said, ‘You shall not commit adultery. ’ But I tell you that anyone who looks at a woman lustfully has already committed adultery with her in his heart. If your right eye causes you to stumble, gouge it out and throw it away. It is better for you to lose one part of your body than for your whole body to be thrown into hell. And if your right hand causes you to stumble, cut it off and throw it away. It is better for you to lose one part of your body than for your whole body to go into hell. " />
		</section>


		<section class="Part 5.7">
			<JesusSection Heading="Divorce"
						  Text="It has been said, ‘Anyone who divorces his wife must give her a certificate of divorce. ’ But I tell you that anyone who divorces his wife, except for sexual immorality, makes her the victim of adultery, and anyone who marries a divorced woman commits adultery. " />
		</section>


		<section class="Part 5.8">
			<JesusSection Heading="Oaths"
						  Text="Again, you have heard that it was said to the people long ago, ‘Do not break your oath, but fulfill to the Lord the vows you have made. ’ But I tell you, do not swear an oath at all: either by heaven, for it is God’s throne; or by the earth, for it is his footstool; or by Jerusalem, for it is the city of the Great King. And do not swear by your head, for you cannot make even one hair white or black. All you need to say is simply ‘Yes’ or ‘No’; anything beyond this comes from the evil one. " />
		</section>


		<section class="Part 5.9">
			<JesusSection Heading="Eye for Eye"
						  Text="You have heard that it was said, ‘Eye for eye, and tooth for tooth. ’ But I tell you, do not resist an evil person. If anyone slaps you on the right cheek, turn to them the other cheek also. And if anyone wants to sue you and take your shirt, hand over your coat as well. If anyone forces you to go one mile, go with them two miles. Give to the one who asks you, and do not turn away from the one who wants to borrow from you. " />
		</section>


		<section class="Part 5.10">
			<JesusSection Heading="Love for Enemies"
						  Text="You have heard that it was said, ‘Love your neighbor and hate your enemy. ’ But I tell you, love your enemies and pray for those who persecute you, that you may be children of your Father in heaven. He causes his sun to rise on the evil and the good, and sends rain on the righteous and the unrighteous. If you love those who love you, what reward will you get? Are not even the tax collectors doing that? And if you greet only your own people, what are you doing more than others? Do not even pagans do that? Be perfect, therefore, as your heavenly Father is perfect. " />
		</section>
	</section>



	<section class="Chapter 6">
		<BibleChapter Number="Chapter 6" />

		<section class="Part 6.1">
			<JesusSection Heading="Giving to the Needy"
						  Text="Be careful not to practice your righteousness in front of others to be seen by them. If you do, you will have no reward from your Father in heaven.

								So when you give to the needy, do not announce it with trumpets, as the hypocrites do in the synagogues and on the streets, to be honored by others. Truly I tell you, they have received their reward in full. But when you give to the needy, do not let your left hand know what your right hand is doing, so that your giving may be in secret. Then your Father, who sees what is done in secret, will reward you. " />
		</section>


		<section class="Part 6.2">
			<JesusSection Heading="Prayer"
						  Text="And when you pray, do not be like the hypocrites, for they love to pray standing in the synagogues and on the street corners to be seen by others. Truly I tell you, they have received their reward in full. But when you pray, go into your room, close the door and pray to your Father, who is unseen. Then your Father, who sees what is done in secret, will reward you. And when you pray, do not keep on babbling like pagans, for they think they will be heard because of their many words. Do not be like them, for your Father knows what you need before you ask him.

								This, then, is how you should pray:

								‘Our Father in heaven, hallowed be your name, your kingdom come, your will be done, on earth as it is in heaven.
								Give us today our daily bread.
								And forgive us our debts, as we also have forgiven our debtors.
								And lead us not into temptation, but deliver us from the evil one. ’

								For if you forgive other people when they sin against you, your heavenly Father will also forgive you. But if you do not forgive others their sins, your Father will not forgive your sins. " />
		</section>


		<section class="Part 6.3">
			<JesusSection Heading="Fasting"
						  Text="When you fast, do not look somber as the hypocrites do, for they disfigure their faces to show others they are fasting. Truly I tell you, they have received their reward in full. But when you fast, put oil on your head and wash your face, so that it will not be obvious to others that you are fasting, but only to your Father, who is unseen; and your Father, who sees what is done in secret, will reward you. " />
		</section>


		<section class="Part 6.4">
			<JesusSection Heading="Treasures in Heaven"
						  Text="Do not store up for yourselves treasures on earth, where moths and vermin destroy, and where thieves break in and steal. But store up for yourselves treasures in heaven, where moths and vermin do not destroy, and where thieves do not break in and steal. For where your treasure is, there your heart will be also. " />
		</section>


		<section class="Part 6.5">
			<JesusSection Heading="Perspective"
						  Text="The eye is the lamp of the body. If your eyes are healthy, your whole body will be full of light. But if your eyes are unhealthy, your whole body will be full of darkness. If then the light within you is darkness, how great is that darkness!" />
		</section>


		<section class="Part 6.6">
			<JesusSection Heading="Money"
						  Text="No one can serve two masters. Either you will hate the one and love the other, or you will be devoted to the one and despise the other. You cannot serve both God and money. " />
		</section>


		<section class="Part 6.7">
			<JesusSection Heading="Do Not Worry"
						  Text="I tell you, do not worry about your life, what you will eat or drink; or about your body, what you will wear. Is not life more than food, and the body more than clothes? Look at the birds of the air; they do not sow or reap or store away in barns, and yet your heavenly Father feeds them. Are you not much more valuable than they? Can any one of you by worrying add a single hour to your life?

							And why do you worry about clothes? See how the flowers of the field grow. They do not labor or spin. Yet I tell you that not even Solomon in all his splendor was dressed like one of these. If that is how God clothes the grass of the field, which is here today and tomorrow is thrown into the fire, will he not much more clothe you - you of little faith? So do not worry, saying, ‘What shall we eat?’ or ‘What shall we drink?’ or ‘What shall we wear?’ For the pagans run after all these things, and your heavenly Father knows that you need them. But seek first his kingdom and his righteousness, and all these things will be given to you as well. Therefore do not worry about tomorrow, for tomorrow will worry about itself. Each day has enough trouble of its own. " />
		</section>
	</section>



	<section class="Chapter 7">
		<BibleChapter Number="Chapter 7" />

		<section class="Part 7.1">
			<JesusSection Heading="Judging Others"
						  Text="Do not judge, or you too will be judged. For in the same way you judge others, you will be judged, and with the measure you use, it will be measured to you.

								Why do you look at the speck of sawdust in your brother’s eye and pay no attention to the plank in your own eye? How can you say to your brother, ‘Let me take the speck out of your eye, ’ when all the time there is a plank in your own eye? You hypocrite, first take the plank out of your own eye, and then you will see clearly to remove the speck from your brother’s eye.

								Do not give to coyotes what is sacred; do not throw your pearls to pigs. If you do, they may trample them under their feet, and turn and tear you to pieces. " />
		</section>


		<section class="Part 7.2">
			<JesusSection Heading="Ask, Seek, Knock"
						  Text="Ask and it will be given to you; seek and you will find; knock and the door will be opened to you. For everyone who asks receives; the one who seeks finds; and to the one who knocks, the door will be opened.

								Which of you, if your son asks for bread, will give him a stone? Or if he asks for a fish, will give him a snake? If you, then, though you are evil, know how to give good gifts to your children, how much more will your Father in heaven give good gifts to those who ask him!

								So in everything, do to others what you would have them do to you, for this sums up the Law and the Prophets. " />
		</section>


		<section class="Part 7.3">
			<JesusSection Heading="The Gate"
						  Text="Enter through the narrow gate. For wide is the gate and broad is the road that leads to destruction, and many enter through it. But small is the gate and narrow the road that leads to life, and only a few find it. " />
		</section>


		<section class="Part 7.4">
			<JesusSection Heading="True and False Prophets"
						  Text="Watch out for false prophets. They come to you in sheep’s clothing, but inwardly they are ferocious wolves. By their fruit you will recognize them. Do people pick grapes from thornbushes, or figs from thistles? Likewise, every good tree bears good fruit, but a bad tree bears bad fruit. A good tree cannot bear bad fruit, and a bad tree cannot bear good fruit. Every tree that does not bear good fruit is cut down and thrown into the fire. Thus, by their fruit you will recognize them. " />
		</section>


		<section class="Part 7.5">
			<JesusSection Heading="Fake Christians"
						  Text="Not everyone who says to me, ‘Lord, Lord, ’ will enter the kingdom of heaven, but only the one who does the will of my Father who is in heaven. Many will say to me on that day, ‘Lord, Lord, did we not prophesy in your name and in your name drive out demons and in your name perform many miracles?’ Then I will tell them plainly, ‘I never knew you. Away from me, you evildoers!’" />
		</section>


		<section class="Part 7.6">
			<JesusSection Heading="The Rock"
						  Text="Everyone who hears these words of mine and puts them into practice is like a wise man who built his house on a rock. The rain came down, the streams rose, and the winds blew and beat against that house; yet it did not fall, because it had its foundation on the rock.

								But everyone who hears these words of mine and does not put them into practice is like a foolish man who built his house on sand. The rain came down, the streams rose, and the winds blew and beat against that house, and it fell with a great crash. " />

			<BibleSection Text="When Jesus had finished saying these things, the crowds were amazed at his teaching, because he taught as one who had authority, and not as their teachers of the law. " />
		</section>
	</section>



	<section class="Chapter 8">
		<BibleChapter Number="Chapter 8" />

		<section class="Part 8.1">
			<BibleSection Heading="Jesus Heals a Man With Leprosy"
						  Text="When Jesus came down from the mountainside, large crowds followed him. A man with leprosy came and knelt before him and said, “Lord, if you are willing, you can make me clean. ”

								Jesus reached out his hand and touched the man. " />

			<JesusSection Text="I am willing. Be clean!" />

			<BibleSection Text="Immediately he was cleansed of his leprosy. Then Jesus said to him, " />

			<JesusSection Text="See that you don’t tell anyone. But go, show yourself to the priest and offer the gift Moses commanded, as a testimony to them. " />

		</section>


		<section class="Part 8.2">
			<BibleSection Heading="The Faith of the Centurion"
						  Text="When Jesus had entered Capernaum, a centurion came to him, asking for help. “Lord, ” he said, “my servant lies at home paralyzed, suffering terribly. ”

								Jesus said to him, " />

			<JesusSection Text="Shall I come and heal him?" />

			<BibleSection Text="The centurion replied, “Lord, I do not deserve to have you come under my roof. But just say the word, and my servant will be healed. For I myself am a man under authority, with soldiers under me. I tell this one, ‘Go, ’ and he goes; and that one, ‘Come, ’ and he comes. I say to my servant, ‘Do this, ’ and he does it. ”

								When Jesus heard this, he was amazed and said to those following him, " />

			<JesusSection Text="Truly I tell you, I have not found anyone in Israel with such great faith. I say to you that many will come from the east and the west, and will take their places at the feast with Abraham, Isaac and Jacob in the kingdom of heaven. But the subjects of the kingdom will be thrown outside, into the darkness, where there will be weeping and gnashing of teeth. " />

			<BibleSection Text="Then Jesus said to the centurion, " />

			<JesusSection Text="Go! Let it be done just as you believed it would. " />

			<BibleSection Text="And his servant was healed at that moment. " />
		</section>


		<section class="Part 8.3">
			<BibleSection Heading="Jesus Heals Many"
						  Text="When Jesus came into Peter’s house, he saw Peter’s mother-in-law lying in bed with a fever. He touched her hand and the fever left her, and she got up and began to wait on him.

								When evening came, many who were demon-possessed were brought to him, and he drove out the spirits with a word and healed all the sick. This was to fulfill what was spoken through the prophet Isaiah:

								“He took up our infirmities and bore our diseases. ”" />
		</section>


		<section class="Part 8.4">
			<BibleSection Heading="The Cost of Following Jesus"
						  Text="When Jesus saw the crowd around him, he gave orders to cross to the other side of the lake. Then a teacher of the law came to him and said, “Teacher, I will follow you wherever you go. ”

								Jesus replied, " />

			<JesusSection Text="Foxes have dens and birds have nests, but the Son of Man has no place to lay his head. " />

			<BibleSection Text="Another disciple said to him, “Lord, first let me go and bury my father. ”

								But Jesus told him, " />

			<JesusSection Text="Follow me, and let the dead bury their own dead. " />
		</section>


		<section class="Part 8.5">
			<BibleSection Heading="Jesus Calms the Storm"
						  Text="Then he got into the boat and his disciples followed him. Suddenly a furious storm came up on the lake, so that the waves swept over the boat. But Jesus was sleeping. The disciples went and woke him, saying, “Lord, save us! We’re going to drown!”

								He replied, " />

			<JesusSection Text="You of little faith, why are you so afraid? " />

			<BibleSection Text="Then he got up and rebuked the winds and the waves, and it was completely calm.

								The men were amazed and asked, “What kind of man is this? Even the winds and the waves obey him!” " />
		</section>


		<section class="Part 8.6">
			<BibleSection Heading="Jesus Restores Two Demon-Possessed Men"
						  Text="When he arrived at the other side in the region of the Gadarenes, two demon-possessed men coming from the tombs met him. They were so violent that no one could pass that way. “What do you want with us, Son of God?” they shouted. “Have you come here to torture us before the appointed time?”

								Some distance from them a large herd of pigs was feeding. The demons begged Jesus, “If you drive us out, send us into the herd of pigs.”

								He said to them, " />

			<JesusSection Text="Go! " />

			<BibleSection Text="So they came out and went into the pigs, and the whole herd rushed down the steep bank into the lake and died in the water. Those tending the pigs ran off, went into the town and reported all this, including what had happened to the demon-possessed men. Then the whole town went out to meet Jesus. And when they saw him, they pleaded with him to leave their region. " />
		</section>
	</section>



	<section class="Chapter 9">
		<BibleChapter Number="Chapter 9" />

		<section class="Part 9.1">
			<BibleSection Heading="Jesus Forgives and Heals a Paralyzed Man"
						  Text="Jesus stepped into a boat, crossed over and came to his own town. Some men brought to him a paralyzed man, lying on a mat. When Jesus saw their faith, he said to the man," />

			<JesusSection Text="Take heart, son; your sins are forgiven." />

			<BibleSection Text="At this, some of the teachers of the law said to themselves, “This fellow is blaspheming!”

								Knowing their thoughts, Jesus said, " />

			<JesusSection Text="Why do you entertain evil thoughts in your hearts? Which is easier: to say, ‘Your sins are forgiven,’ or to say, ‘Get up and walk’? But I want you to know that the Son of Man has authority on earth to forgive sins." />

			<BibleSection Text="So he said to the paralyzed man, " />

			<JesusSection Text="Get up, take your mat and go home." />

			<BibleSection Text="Then the man got up and went home. When the crowd saw this, they were filled with awe; and they praised God, who had given such authority to man. " />
		</section>
	</section>



	<section class="Extras">
		<BibleChapter Number="Extras" />
		<BibleSection Heading="The Genealogy of Jesus the Messiah"
					  Text="This is the genealogy of Jesus the Messiah the son of David, the son of Abraham:

							Abraham was the father of Isaac,

							Isaac the father of Jacob,

							Jacob the father of Judah and his brothers,

							Judah the father of Perez and Zerah, whose mother was Tamar,

							Perez the father of Hezron,

							Hezron the father of Ram,

							Ram the father of Amminadab,

							Amminadab the father of Nahshon,

							Nahshon the father of Salmon,

							Salmon the father of Boaz, whose mother was Rahab,

							Boaz the father of Obed, whose mother was Ruth,

							Obed the father of Jesse,

							and Jesse the father of King David.

							David was the father of Solomon, whose mother had been Uriah’s wife,

							Solomon the father of Rehoboam,

							Rehoboam the father of Abijah,

							Abijah the father of Asa,

							Asa the father of Jehoshaphat,

							Jehoshaphat the father of Jehoram,

							Jehoram the father of Uzziah,

							Uzziah the father of Jotham,

							Jotham the father of Ahaz,

							Ahaz the father of Hezekiah,

							Hezekiah the father of Manasseh,

							Manasseh the father of Amon,

							Amon the father of Josiah,

							and Josiah the father of Jeconiah and his brothers at the time of the exile to Babylon.

							After the exile to Babylon:

							Jeconiah was the father of Shealtiel,

							Shealtiel the father of Zerubbabel,

							Zerubbabel the father of Abihud,

							Abihud the father of Eliakim,

							Eliakim the father of Azor,

							Azor the father of Zadok,

							Zadok the father of Akim,

							Akim the father of Elihud,

							Elihud the father of Eleazar,

							Eleazar the father of Matthan,

							Matthan the father of Jacob,

							and Jacob the father of Joseph, the husband of Mary, and Mary was the mother of Jesus who is called the Messiah.

							Thus there were fourteen generations in all from Abraham to David, fourteen from David to the exile to Babylon, and fourteen from the exile to the Messiah. " />
	</section>
</article>
<BackButton />
<BibleFooter Message="Go to gospel-net. xyz/more, to unlock Revelations. " />